workflows/github-workflow-auto-import/workflow.json
{
  "name": "github-workflow-auto-import",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-workflow-deploy",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "receive-deploy-webhook",
      "name": "Receive Deploy Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "n8n-base-url",
              "name": "n8nBaseUrl",
              "value": "={{ (($json.headers['x-forwarded-proto'] || 'https') + '://' + ($json.headers['x-forwarded-host'] || $json.headers.host || '')).replace(/\\/$/, '') }}",
              "type": "string"
            },
            {
              "id": "workflow-name",
              "name": "workflowName",
              "value": "={{ $json.body.workflowName || '' }}",
              "type": "string"
            },
            {
              "id": "workflow-path",
              "name": "workflowPath",
              "value": "={{ $json.body.workflowPath || '' }}",
              "type": "string"
            },
            {
              "id": "raw-url",
              "name": "rawUrl",
              "value": "={{ $json.body.rawUrl || '' }}",
              "type": "string"
            },
            {
              "id": "repository",
              "name": "repository",
              "value": "={{ $json.body.repository || '' }}",
              "type": "string"
            },
            {
              "id": "branch",
              "name": "branch",
              "value": "={{ $json.body.branch || '' }}",
              "type": "string"
            },
            {
              "id": "commit-sha",
              "name": "commitSha",
              "value": "={{ $json.body.commitSha || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-deploy-context",
      "name": "Prepare Deploy Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        320
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst missing = [];\n\nif (!item.rawUrl) missing.push('body.rawUrl');\nif (!item.workflowName) missing.push('body.workflowName');\nif (!item.n8nBaseUrl) missing.push('derived n8n base URL from webhook headers');\n\nif (missing.length > 0) {\n  throw new Error(`Missing required values: ${missing.join(', ')}`);\n}\n\nif (!/^https?:\\/\\//.test(item.rawUrl)) {\n  throw new Error('body.rawUrl must start with http:// or https://');\n}\n\nreturn [\n  {\n    json: {\n      ...item,\n      validationStatus: 'ok',\n    },\n  },\n];"
      },
      "id": "validate-deploy-request",
      "name": "Validate Deploy Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.rawUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "download-workflow-definition",
      "name": "Download Workflow Definition",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "GET",
        "url": "={{ $node['Validate Deploy Request'].json.n8nBaseUrl + '/api/v1/workflows?name=' + encodeURIComponent($node['Validate Deploy Request'].json.workflowName) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "find-existing-workflow",
      "name": "Find Existing Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        520
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const deploy = $node['Validate Deploy Request'].json;\nconst searchResult = $input.first().json;\nconst importedWorkflow = $node['Download Workflow Definition'].json;\n\nconst candidateList = Array.isArray(searchResult?.data)\n  ? searchResult.data\n  : Array.isArray(searchResult?.items)\n    ? searchResult.items\n    : Array.isArray(searchResult)\n      ? searchResult\n      : [];\n\nconst existingWorkflow = candidateList.find(\n  (workflow) => workflow && workflow.name === deploy.workflowName,\n);\n\nconst requestBody = {\n  name: importedWorkflow.name || deploy.workflowName,\n  nodes: importedWorkflow.nodes || [],\n  connections: importedWorkflow.connections || {},\n  settings: importedWorkflow.settings || {},\n  pinData: importedWorkflow.pinData || {},\n};\n\nif (importedWorkflow.staticData) {\n  requestBody.staticData = importedWorkflow.staticData;\n}\n\nif (Array.isArray(importedWorkflow.tags) && importedWorkflow.tags.length > 0) {\n  requestBody.tags = importedWorkflow.tags;\n}\n\nif (importedWorkflow.projectId) {\n  requestBody.projectId = importedWorkflow.projectId;\n}\n\nconst requestMethod = existingWorkflow ? 'PUT' : 'POST';\nconst requestUrl = existingWorkflow\n  ? `${deploy.n8nBaseUrl}/api/v1/workflows/${existingWorkflow.id}`\n  : `${deploy.n8nBaseUrl}/api/v1/workflows`;\n\nreturn [\n  {\n    json: {\n      ...deploy,\n      operation: existingWorkflow ? 'update' : 'create',\n      existingWorkflowId: existingWorkflow?.id || '',\n      requestMethod,\n      requestUrl,\n      requestBody,\n    },\n  },\n];"
      },
      "id": "build-upsert-request",
      "name": "Build Upsert Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "={{ $json.requestMethod }}",
        "url": "={{ $json.requestUrl }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "upsert-workflow",
      "name": "Upsert Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1560,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ok",
              "name": "ok",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "operation",
              "name": "operation",
              "value": "={{ $node['Build Upsert Request'].json.operation }}",
              "type": "string"
            },
            {
              "id": "workflow-name",
              "name": "workflowName",
              "value": "={{ $node['Build Upsert Request'].json.workflowName }}",
              "type": "string"
            },
            {
              "id": "workflow-id",
              "name": "workflowId",
              "value": "={{ $json.id || $json.data?.id || $node['Build Upsert Request'].json.existingWorkflowId || '' }}",
              "type": "string"
            },
            {
              "id": "workflow-path",
              "name": "workflowPath",
              "value": "={{ $node['Build Upsert Request'].json.workflowPath }}",
              "type": "string"
            },
            {
              "id": "repository",
              "name": "repository",
              "value": "={{ $node['Build Upsert Request'].json.repository }}",
              "type": "string"
            },
            {
              "id": "branch",
              "name": "branch",
              "value": "={{ $node['Build Upsert Request'].json.branch }}",
              "type": "string"
            },
            {
              "id": "commit-sha",
              "name": "commitSha",
              "value": "={{ $node['Build Upsert Request'].json.commitSha }}",
              "type": "string"
            },
            {
              "id": "raw-url",
              "name": "rawUrl",
              "value": "={{ $node['Build Upsert Request'].json.rawUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-deploy-response",
      "name": "Build Deploy Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 200,
          "enableStreaming": false
        }
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2080,
        320
      ]
    }
  ],
  "connections": {
    "Receive Deploy Webhook": {
      "main": [
        [
          {
            "node": "Prepare Deploy Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Deploy Context": {
      "main": [
        [
          {
            "node": "Validate Deploy Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deploy Request": {
      "main": [
        [
          {
            "node": "Download Workflow Definition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Workflow Definition": {
      "main": [
        [
          {
            "node": "Find Existing Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Workflow": {
      "main": [
        [
          {
            "node": "Build Upsert Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Upsert Request": {
      "main": [
        [
          {
            "node": "Upsert Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Workflow": {
      "main": [
        [
          {
            "node": "Build Deploy Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Deploy Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {}
}
