workflows/short-drama-pipeline/workflow.json
{
  "name": "short-drama-pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "short-drama-pipeline-test",
        "formTitle": "Short Drama Pipeline Test",
        "formDescription": "Import test form for the short-drama-pipeline workflow.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Story",
              "fieldType": "textarea",
              "placeholder": "드라마의 스토리를 입력하세요.",
              "requiredField": false,
              "elementName": "story",
              "defaultValue": "#1 거리\n단발머리에 가벼운 산책차림의 여주인공.\n\n여주인공은 대형견(반려견 해피)과 기분 좋게 함께 산책중이다. 밝은 햇살과 풍경이 희망찬 분위기를 보여준다.\n\n- 여주인공과 대형견 풀샷\n- 기분 좋은 근영 표정 바스트샷\n- 대형견 풀샷\n- 대형견의 산책 줄의 달 모양 목걸이\n\n걱정스러운 표정으로 남자친구 근영에게 전화가 연결이 안되자 혼잣말을 하고 스마트폰 화면을 처다본다.\n\n[안내음] 음성사서함으로 연결됩니다.\n\n이어서 대형견을 보고 미소를 짓고, 산책을 계속한다.\n\n#2 작업실 문앞\n\n여주인공은 반려견에게 말한다.\n\n\"해피야 잠깐만\"\n\n고장난 작업실 문을 보며 이어 말한다.\n\n\"작업실 문 좀 고치라고 엄청 애기 했는데\"\n\n#3 작업실 계단\n\n여주인공은 반려견을 이끌고 계단을 오른다.\n\n\"가자 해피\"\n\n\"천천히\"\n\n인서트로 연인이자 스타작가인 근영의 상패, 여주인공과 다정하게 찍은 사진이 보인다.\n\n작업실로 들어가는 유리문 사이로 남자친구 근영과 여배우 효정이 키스하며 불륜을 저지르는 장면을 여주인공은 목격한다.\n\n여주인공은 당황한 기색이 역력하고 눈이 흔들린다. 황급히 반려견을 대리고 자리를 피한다.\n\n#3 작업실\n\n여주인공이 나가는 소리에 불륜 상대인 효정이 말한다. 효정은 책상위에 남자친구 근영은 서서 효정을 마주하고 있다.\n\n[효정] \"뭐야 문 열려 있었어요?\"\n\n[근영] \"몰라 바람이라도 불었나보지\"\n\n효정은 장난스럽게 근영에게 이야기한다.\n\n[효정] \"아니 대낮부터 뭐하세요 작가님?\"\n\n근영은 멋적은 듯이 웃고있다.\n\n효정 클로즈업\n\n[효정] \"애인도 있으신 분이\"\n\n근영은 웃으며 가볍게 넘긴다.\n\n[근영] \"그냥 보조 작가로 데리고 있는 거라니까\"\n\n효정은 애정을 확인하려는 듯이 근영에게 말하고 천천히 키스한다.\n\n[효정] \"밥도 사주고 돈도 빌려주는 보조작가가 어딨어요?\"\n\n근영과 효정의 입맞춤 모습 풀샷\n\n#4 여주인공 방 - 밤\n\n여주인공 방에서 혼자 울고 있다. 울음을 삼키려 맥주를 마신다.\n\n[여주인공 나레이션] 스타작가 김근영과 페르소나 탑배우 최효정…\n\n저 관계를 폭로해봤자…\n\n이를 위로하듯 반려견은 여주인공 옆에 앉아있다.\n\n[여주인공] \"해피야 너도 먹고싶어?\"\n\n울먹이는 여주인공\n\n[여주인공 나레이션] 퍼주기만 하고 배신당한 내 처지만…\n\n#3에서 보여진 여주인공과 근영의 사진 인서트. 여주인공이 손으로 들고 있다.\n\n[여주인공 나레이션] 더 비참해 질 것 같았다.\n\n#4 여주인공 방 - 아침\n\n다음날\n\n숙취에 몸부림 치는 여주인공 옆에 있는 의문의 남성. 잠에서 깨지 않은 여주인공은 반려견을 찾는다.\n\n[여주인공] \"해피야\"\n\n여주인공의 시선, 1인칭으로 반려견 해피의 목걸이를 팔찌처럼 차고 곤히 자고 있는 남자의 모습을 따라간다.\n\n낮선남자의 모습에 놀란 여주인공은 일어나 소리친다. 여전히 잠들어 있는 남자를 보고 당황한 모습의 여주인공"
            }
          ]
        },
        "options": {}
      },
      "id": "494810a4-f694-4793-8acd-2a28358e0ccc",
      "name": "Receive Test Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-name",
              "name": "workflowName",
              "value": "short-drama-pipeline",
              "type": "string"
            },
            {
              "id": "import-check",
              "name": "importCheck",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "submitted-input",
              "name": "submittedStory",
              "value": "={{ $json.submittedStory || $json.story || $json.Story || $json['Story'] || $json.storyText || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2ce36e77-83b3-41e0-be4c-39c97c95c29c",
      "name": "Set Import Test Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\n\nconst rawStory = [\n  item.submittedStory,\n  item.story,\n  item.Story,\n  item.storyText,\n  item['Story'],\n]\n  .find((value) => typeof value === 'string' && value.trim().length > 0) ?? '';\n\nconst submittedStory = String(rawStory).replace(/\\r\\n/g, '\\n').trim();\n\nif (!submittedStory) {\n  throw new Error('submittedStory is empty. Check the Form Trigger output key and enter story text before running Input Normalize.');\n}\n\nconst cleanedStory = submittedStory\n  .replace(/\\t/g, ' ')\n  .replace(/[ \\u00A0]+/g, ' ')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst sceneHeadingCount = (cleanedStory.match(/^#\\s*\\d+[^\\n]*/gm) ?? []).length;\nconst storyLineCount = cleanedStory.split('\\n').filter((line) => line.trim().length > 0).length;\n\nreturn [{\n  json: {\n    ...item,\n    submittedStory: cleanedStory,\n    sceneHeadingCount,\n    storyLineCount,\n    detectedLanguage: 'ko',\n    inputStage: 'input_received',\n  },\n}];"
      },
      "id": "cb170c99-8820-491a-96ab-fb04cedea7a7",
      "name": "Validate Story Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-input",
              "name": "chatInput",
              "value": "={{ $json.submittedStory }}",
              "type": "string"
            },
            {
              "id": "normalization-scope",
              "name": "normalizationScope",
              "value": "input_normalize_poc",
              "type": "string"
            },
            {
              "id": "bible-policy",
              "name": "biblePolicy",
              "value": "candidate_only_no_canon_write",
              "type": "string"
            },
            {
              "id": "source-type",
              "name": "sourceType",
              "value": "text_form_story",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a61df76a-d1f5-4b1b-ba80-3e5a0e6e79d1",
      "name": "Build Normalize Prompt Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `You are the Input Normalize step of an AI short-drama generation pipeline.\nYour job is to transform raw user story text into structured candidate metadata for downstream planning.\n\nImportant rules:\n- Do not invent canon facts. Treat all extracted world details as candidates unless they are explicit in the story text.\n- Do not write definitive Series Bible updates. Only propose candidate patches.\n- Preserve ambiguity with lower confidence values.\n- Keep natural-language values in Korean.\n- Keep enum-like values in snake_case.\n- Use concise phrases, not long paragraphs, except for scene summary and story_summary.\n- If a character has no explicit name, keep a stable Korean placeholder label such as \"여주인공\" or \"의문의 남성\".\n- If a location is implied from a scene heading, include it.\n- If the text suggests emotional or relationship shifts, capture them as signals or candidate patches, not canon truth.\n- Return only the data requested by the output schema. No markdown. No extra commentary.\n\nWorkflow context:\n- workflow_name: ${$json.workflowName || 'short-drama-pipeline'}\n- normalization_scope: ${$json.normalizationScope || 'input_normalize_poc'}\n- bible_policy: ${$json.biblePolicy || 'candidate_only_no_canon_write'}\n- source_type: ${$json.sourceType || 'text_form_story'}\n- scene_heading_count: ${$json.sceneHeadingCount || 0}\n- line_count: ${$json.storyLineCount || 0}\n\nStory text:\n${$json.chatInput}` }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a Korean drama development analyst inside an n8n pipeline. Extract only what is supported by the text, keep uncertainty explicit, and prepare candidate metadata for downstream planning."
            }
          ]
        }
      },
      "id": "991729e0-2339-4375-9965-1f5abcdde322",
      "name": "Input Normalize Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5.3-chat-latest"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 1,
          "timeout": 120000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "iJ0rT6FtNysjeetC",
          "name": "[kikick] 테스트 키 #1"
        }
      },
      "id": "3922a7f8-409d-4378-85d0-11d3133c185c",
      "name": "Input Normalize Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1320,
        560
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"story_summary\",\n    \"scene_segments\",\n    \"entity_candidates\",\n    \"bible_patch_candidates\",\n    \"production_hints\"\n  ],\n  \"properties\": {\n    \"story_summary\": {\n      \"type\": \"string\"\n    },\n    \"scene_segments\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"scene_id\",\n          \"scene_heading\",\n          \"summary\",\n          \"intent\",\n          \"emotion_tone\",\n          \"key_actions\",\n          \"characters\",\n          \"locations\",\n          \"props\",\n          \"relationship_signals\",\n          \"continuity_risks\"\n        ],\n        \"properties\": {\n          \"scene_id\": {\n            \"type\": \"string\"\n          },\n          \"scene_heading\": {\n            \"type\": \"string\"\n          },\n          \"summary\": {\n            \"type\": \"string\"\n          },\n          \"intent\": {\n            \"type\": \"string\"\n          },\n          \"emotion_tone\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"key_actions\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"characters\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"locations\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"props\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"relationship_signals\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"continuity_risks\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        }\n      }\n    },\n    \"entity_candidates\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"characters\",\n        \"locations\",\n        \"props\",\n        \"relationships\"\n      ],\n      \"properties\": {\n        \"characters\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"required\": [\n              \"name\",\n              \"role\",\n              \"traits\",\n              \"evidence\",\n              \"confidence\"\n            ],\n            \"properties\": {\n              \"name\": {\n                \"type\": \"string\"\n              },\n              \"role\": {\n                \"type\": \"string\"\n              },\n              \"traits\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"evidence\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"confidence\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        },\n        \"locations\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"required\": [\n              \"name\",\n              \"type\",\n              \"attributes\",\n              \"evidence\",\n              \"confidence\"\n            ],\n            \"properties\": {\n              \"name\": {\n                \"type\": \"string\"\n              },\n              \"type\": {\n                \"type\": \"string\"\n              },\n              \"attributes\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"evidence\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"confidence\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        },\n        \"props\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"required\": [\n              \"name\",\n              \"dramatic_use\",\n              \"evidence\",\n              \"confidence\"\n            ],\n            \"properties\": {\n              \"name\": {\n                \"type\": \"string\"\n              },\n              \"dramatic_use\": {\n                \"type\": \"string\"\n              },\n              \"evidence\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"confidence\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        },\n        \"relationships\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"required\": [\n              \"pair\",\n              \"status\",\n              \"change_signal\",\n              \"evidence\",\n              \"confidence\"\n            ],\n            \"properties\": {\n              \"pair\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"status\": {\n                \"type\": \"string\"\n              },\n              \"change_signal\": {\n                \"type\": \"string\"\n              },\n              \"evidence\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"confidence\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"bible_patch_candidates\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"entity_type\",\n          \"entity_name\",\n          \"proposed_change\",\n          \"evidence\",\n          \"confidence\"\n        ],\n        \"properties\": {\n          \"entity_type\": {\n            \"type\": \"string\"\n          },\n          \"entity_name\": {\n            \"type\": \"string\"\n          },\n          \"proposed_change\": {\n            \"type\": \"string\"\n          },\n          \"evidence\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"confidence\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    \"production_hints\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"dominant_mood\",\n        \"visual_keywords\",\n        \"core_conflict\",\n        \"estimated_complexity\"\n      ],\n      \"properties\": {\n        \"dominant_mood\": {\n          \"type\": \"string\"\n        },\n        \"visual_keywords\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"core_conflict\": {\n          \"type\": \"string\"\n        },\n        \"estimated_complexity\": {\n          \"type\": \"string\"\n        }\n      }\n    }\n  }\n}",
        "autoFix": false
      },
      "id": "2347398d-c55c-40a9-81b3-6a309c1e1e4a",
      "name": "Input Normalize Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1560,
        560
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst parsed = item.output && typeof item.output === 'object' ? item.output : item;\n\nconst sceneSegments = Array.isArray(parsed.scene_segments) ? parsed.scene_segments : [];\nconst entityCandidates = parsed.entity_candidates ?? {\n  characters: [],\n  locations: [],\n  props: [],\n  relationships: [],\n};\nconst biblePatchCandidates = Array.isArray(parsed.bible_patch_candidates) ? parsed.bible_patch_candidates : [];\nconst productionHints = parsed.production_hints ?? {\n  dominant_mood: '',\n  visual_keywords: [],\n  core_conflict: '',\n  estimated_complexity: 'unknown',\n};\n\nconst uniqueStrings = (values) => [...new Set(\n  values\n    .filter((value) => typeof value === 'string')\n    .map((value) => value.trim())\n    .filter(Boolean),\n)];\n\nconst detectedCharacters = uniqueStrings([\n  ...sceneSegments.flatMap((scene) => Array.isArray(scene.characters) ? scene.characters : []),\n  ...((entityCandidates.characters ?? []).map((character) => character.name)),\n]);\n\nconst detectedLocations = uniqueStrings([\n  ...sceneSegments.flatMap((scene) => Array.isArray(scene.locations) ? scene.locations : []),\n  ...((entityCandidates.locations ?? []).map((location) => location.name)),\n]);\n\nreturn [{\n  json: {\n    ...item,\n    normalizationStatus: 'candidate_ready',\n    normalizedInput: {\n      story_text_structured: {\n        summary: parsed.story_summary ?? '',\n        segments: sceneSegments.map((scene, index) => ({\n          scene_index: index + 1,\n          scene_id: scene.scene_id ?? `scene_${String(index + 1).padStart(2, '0')}`,\n          scene_heading: scene.scene_heading ?? '',\n          summary: scene.summary ?? '',\n          intent: scene.intent ?? '',\n          emotion_tone: Array.isArray(scene.emotion_tone) ? scene.emotion_tone : [],\n          key_actions: Array.isArray(scene.key_actions) ? scene.key_actions : [],\n          entities: {\n            characters: Array.isArray(scene.characters) ? scene.characters : [],\n            locations: Array.isArray(scene.locations) ? scene.locations : [],\n            props: Array.isArray(scene.props) ? scene.props : [],\n          },\n          relationship_signals: Array.isArray(scene.relationship_signals) ? scene.relationship_signals : [],\n          continuity_risks: Array.isArray(scene.continuity_risks) ? scene.continuity_risks : [],\n        })),\n      },\n      resolved_references: {\n        characters: [],\n        locations: [],\n        props: [],\n      },\n      attachment_analysis: [],\n      entity_candidates: entityCandidates,\n      bible_patch_candidates: biblePatchCandidates,\n      production_hints: productionHints,\n      input_metadata: {\n        source_type: item.sourceType ?? 'text_story_form',\n        language: item.detectedLanguage ?? 'ko',\n        scene_count: sceneSegments.length,\n        detected_character_count: detectedCharacters.length,\n        detected_location_count: detectedLocations.length,\n        bible_patch_candidate_count: biblePatchCandidates.length,\n        attachment_count: 0,\n        estimated_complexity: productionHints.estimated_complexity ?? 'unknown',\n      },\n    },\n  },\n}];"
      },
      "id": "31a9c0bb-81e2-4b05-86c0-f348e0b7b510",
      "name": "Assemble Normalized Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst normalizedInput = item.normalizedInput ?? {};\nconst story = normalizedInput.story_text_structured ?? {};\nconst segments = Array.isArray(story.segments) ? story.segments : [];\n\nconst episodeContextAnalysisInput = {\n  story_text_structured: {\n    summary: story.summary ?? '',\n    segments: segments.map((segment) => ({\n      scene_id: segment.scene_id ?? '',\n      scene_heading: segment.scene_heading ?? '',\n      summary: segment.summary ?? '',\n      intent: segment.intent ?? '',\n      emotion_tone: Array.isArray(segment.emotion_tone) ? segment.emotion_tone : [],\n      key_actions: Array.isArray(segment.key_actions) ? segment.key_actions : [],\n      relationship_signals: Array.isArray(segment.relationship_signals) ? segment.relationship_signals : [],\n      continuity_risks: Array.isArray(segment.continuity_risks) ? segment.continuity_risks : [],\n      entities: {\n        characters: Array.isArray(segment.entities?.characters) ? segment.entities.characters : [],\n        locations: Array.isArray(segment.entities?.locations) ? segment.entities.locations : [],\n        props: Array.isArray(segment.entities?.props) ? segment.entities.props : [],\n      },\n    })),\n  },\n  entity_candidates: normalizedInput.entity_candidates ?? {\n    characters: [],\n    locations: [],\n    props: [],\n    relationships: [],\n  },\n  bible_patch_candidates: Array.isArray(normalizedInput.bible_patch_candidates)\n    ? normalizedInput.bible_patch_candidates\n    : [],\n  production_hints: normalizedInput.production_hints ?? {\n    dominant_mood: '',\n    visual_keywords: [],\n    core_conflict: '',\n    estimated_complexity: 'unknown',\n  },\n  input_metadata: normalizedInput.input_metadata ?? {\n    source_type: item.sourceType ?? 'text_story_form',\n    language: item.detectedLanguage ?? 'ko',\n    scene_count: segments.length,\n    detected_character_count: 0,\n    detected_location_count: 0,\n    bible_patch_candidate_count: 0,\n    attachment_count: 0,\n    estimated_complexity: 'unknown',\n  },\n};\n\nreturn [{\n  json: {\n    ...item,\n    contextScope: 'current_episode_only',\n    scoringMode: 'heuristic_plus_llm',\n    episodeContextAnalysisInput,\n  },\n}];"
      },
      "id": "1f3c57ec-b84d-458d-8955-6b6bee9187ee",
      "name": "Build Episode Context Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `You are the Episode Context Analysis step of an AI short-drama generation pipeline.\nYour job is to convert normalized episode input into a compact episode-level context package for downstream planning.\n\nImportant rules:\n- Work only from the provided normalized input. Do not invent external canon or prior-episode facts.\n- Treat unresolved continuity concerns as watchouts, not hard contradictions, unless the current episode text clearly conflicts with itself.\n- Keep natural-language values in Korean.\n- Keep enum-like values in snake_case.\n- Use concise phrases, not long paragraphs, except for \\`episode_summary\\`.\n- Make scene functions reflect dramatic role inside this single episode.\n- Relationship progressions must stay grounded in explicit scene evidence.\n- Return only the data requested by the output schema. No markdown. No extra commentary.\n\nWorkflow context:\n- workflow_name: ${$json.workflowName || 'short-drama-pipeline'}\n- context_scope: ${$json.contextScope || 'current_episode_only'}\n- scoring_mode: ${$json.scoringMode || 'heuristic_plus_llm'}\n- scene_count: ${$json.episodeContextAnalysisInput?.input_metadata?.scene_count || 0}\n- estimated_complexity: ${$json.episodeContextAnalysisInput?.input_metadata?.estimated_complexity || 'unknown'}\n\nNormalized input JSON:\n${JSON.stringify($json.episodeContextAnalysisInput, null, 2)}` }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a Korean drama episode context analyst inside an n8n pipeline. Build a compact episode-level context package that helps downstream planning while keeping uncertainty explicit."
            }
          ]
        }
      },
      "id": "ec7308c9-8aa0-49a8-90d5-c5f30282c625",
      "name": "Episode Context Analysis Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5.3-chat-latest"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 1,
          "timeout": 120000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "iJ0rT6FtNysjeetC",
          "name": "[kikick] 테스트 키 #1"
        }
      },
      "id": "c4ce3717-5521-489b-860b-34ea1452a929",
      "name": "Episode Context Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2100,
        560
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"episode_summary\",\n    \"central_conflict\",\n    \"dramatic_question\",\n    \"scene_functions\",\n    \"relationship_progressions\",\n    \"continuity_watchouts\"\n  ],\n  \"properties\": {\n    \"episode_summary\": {\n      \"type\": \"string\"\n    },\n    \"central_conflict\": {\n      \"type\": \"string\"\n    },\n    \"dramatic_question\": {\n      \"type\": \"string\"\n    },\n    \"scene_functions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"scene_id\",\n          \"function\",\n          \"why_it_matters\"\n        ],\n        \"properties\": {\n          \"scene_id\": {\n            \"type\": \"string\"\n          },\n          \"function\": {\n            \"type\": \"string\"\n          },\n          \"why_it_matters\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    \"relationship_progressions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"pair\",\n          \"starting_state\",\n          \"change\",\n          \"current_implication\",\n          \"confidence\"\n        ],\n        \"properties\": {\n          \"pair\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"starting_state\": {\n            \"type\": \"string\"\n          },\n          \"change\": {\n            \"type\": \"string\"\n          },\n          \"current_implication\": {\n            \"type\": \"string\"\n          },\n          \"confidence\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    \"continuity_watchouts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}",
        "autoFix": false
      },
      "id": "0a1f6037-48ef-4218-9bec-a3bfb57b7c18",
      "name": "Episode Context Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2340,
        560
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst normalizedInput = item.normalizedInput ?? {};\nconst analysisInput = item.episodeContextAnalysisInput ?? normalizedInput;\nconst parsed = item.output && typeof item.output === 'object' ? item.output : item;\nconst story = analysisInput.story_text_structured ?? {};\nconst segments = Array.isArray(story.segments) ? story.segments : [];\nconst relationships = Array.isArray(normalizedInput.entity_candidates?.relationships)\n  ? normalizedInput.entity_candidates.relationships\n  : [];\nconst llmWatchouts = Array.isArray(parsed.continuity_watchouts) ? parsed.continuity_watchouts : [];\n\nconst uniqueStrings = (values) => [...new Set(\n  values\n    .filter((value) => typeof value === 'string')\n    .map((value) => value.trim())\n    .filter(Boolean),\n)];\n\nconst totalContinuityRisks = segments.reduce(\n  (sum, segment) => sum + (Array.isArray(segment.continuity_risks) ? segment.continuity_risks.length : 0),\n  0,\n);\n\nconst relationshipSignalCount = segments.reduce(\n  (sum, segment) => sum + (Array.isArray(segment.relationship_signals) ? segment.relationship_signals.length : 0),\n  0,\n);\n\nconst recurringCharacters = uniqueStrings(\n  segments.flatMap((segment) => Array.isArray(segment.entities?.characters) ? segment.entities.characters : []),\n);\n\nconst recurringLocations = uniqueStrings(\n  segments.flatMap((segment) => Array.isArray(segment.entities?.locations) ? segment.entities.locations : []),\n);\n\nconst recurringProps = uniqueStrings(\n  segments.flatMap((segment) => Array.isArray(segment.entities?.props) ? segment.entities.props : []),\n);\n\nconst relationshipPenalty = relationships.length > 0 && relationshipSignalCount === 0 ? 8 : 0;\nconst riskPenalty = Math.min(totalContinuityRisks * 6, 30);\nconst structureBonus = Math.min(Math.max(segments.length - 1, 0) * 2, 10);\nconst recurrenceBonus = Math.min(\n  recurringCharacters.length + Math.min(recurringLocations.length, 2) + Math.min(recurringProps.length, 2),\n  12,\n);\n\nconst rawScore = 70 + structureBonus + recurrenceBonus - riskPenalty - relationshipPenalty;\nconst continuityScore = Math.max(0, Math.min(100, rawScore));\n\nlet continuityConfidence = 'medium';\nif (segments.length >= 4 && totalContinuityRisks <= 2) {\n  continuityConfidence = 'high';\n} else if (segments.length <= 2 || totalContinuityRisks >= 4) {\n  continuityConfidence = 'low';\n}\n\nconst heuristicWatchouts = [];\n\nif (totalContinuityRisks > 0) {\n  heuristicWatchouts.push(`장면별 continuity_risks가 총 ${totalContinuityRisks}건 감지되어 후속 검토가 필요합니다.`);\n}\n\nif (relationships.length > 0 && relationshipSignalCount === 0) {\n  heuristicWatchouts.push('관계 후보는 존재하지만 scene 단위 relationship_signals 근거가 약합니다.');\n}\n\nif (segments.length <= 1) {\n  heuristicWatchouts.push('장면 수가 적어 episode-level continuity 판단 근거가 제한적입니다.');\n}\n\nif ((normalizedInput.input_metadata?.attachment_count ?? 0) > 0) {\n  heuristicWatchouts.push('첨부 분석이 포함되어 있으면 continuity score 해석 범위를 별도 검토해야 합니다.');\n}\n\nconst continuityWatchouts = uniqueStrings([\n  ...llmWatchouts,\n  ...heuristicWatchouts,\n]);\n\nconst episodeContext = {\n  episode_summary: parsed.episode_summary ?? story.summary ?? '',\n  central_conflict: parsed.central_conflict ?? normalizedInput.production_hints?.core_conflict ?? '',\n  dramatic_question: parsed.dramatic_question ?? '',\n  continuity_score: continuityScore,\n  continuity_confidence: continuityConfidence,\n  continuity_basis: {\n    scope: 'current_episode_only',\n    scoring_mode: item.scoringMode ?? 'heuristic_plus_llm',\n    signals: {\n      scene_count: segments.length,\n      continuity_risk_count: totalContinuityRisks,\n      relationship_signal_count: relationshipSignalCount,\n      recurring_character_count: recurringCharacters.length,\n      recurring_location_count: recurringLocations.length,\n      recurring_prop_count: recurringProps.length,\n    },\n    limitations: [\n      'prior_episode_context_unavailable',\n      'series_bible_lookup_not_connected',\n    ],\n  },\n  continuity_watchouts: continuityWatchouts,\n  scene_functions: Array.isArray(parsed.scene_functions) ? parsed.scene_functions : [],\n  relationship_progressions: Array.isArray(parsed.relationship_progressions) ? parsed.relationship_progressions : [],\n};\n\nconst status = segments.length > 0 ? 'ready' : 'partial';\n\nreturn [{\n  json: {\n    ...item,\n    episodeContextStatus: status,\n    episodeContextInputVersion: 'v1',\n    episodeContext,\n  },\n}];"
      },
      "id": "dfd8ff86-654b-4b68-8f97-16cdb4f63850",
      "name": "Assemble Episode Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        300
      ]
    },
    {
      "parameters": {
        "content": "## Input Normalize\n스토리 입력을 정리하고, LLM으로 구조화한 뒤, 후속 단계에서 바로 사용할 수 있는 정규화 JSON으로 조립합니다.\n\n포함 노드:\n- Set Import Test Values\n- Validate Story Input\n- Build Normalize Prompt Payload\n- Input Normalize Chain / Model / Parser\n- Assemble Normalized Input",
        "height": 560,
        "width": 1320,
        "color": 6
      },
      "id": "0373dd58-fd2e-42ec-a337-be9743367840",
      "name": "Stage Note - Input Normalize",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        160
      ]
    },
    {
      "parameters": {
        "content": "## OpenAI Credential Pinning\n고정이 꼭 필요할 때만 아래처럼 추가합니다.\n\n```json\n\"credentials\": {\n  \"openAiApi\": {\n    \"id\": \"YOUR_CREDENTIAL_ID\",\n    \"name\": \"OpenAI account\"\n  }\n}\n```\n\n보통은 비워 두고 import 후 UI에서 연결하는 편이 더 이식성이 좋습니다.",
        "height": 320,
        "width": 520,
        "color": 2
      },
      "id": "c16f146c-a20d-4b80-9b7d-2bef0f4322f9",
      "name": "Config Note - OpenAI Credential",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2940,
        220
      ]
    },
    {
      "parameters": {
        "content": "## Episode Context Analysis\n정규화된 episode 입력을 바탕으로 episode summary, dramatic question, scene function, relationship progression을 구성하고 PoC용 continuity score를 계산합니다.\n\n범위:\n- current_episode_only\n- heuristic_plus_llm",
        "height": 560,
        "width": 1240,
        "color": 5
      },
      "id": "9d7b671a-8d69-45b7-b59d-8e75376f2b02",
      "name": "Stage Note - Episode Context",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        220
      ]
    }
  ],
  "connections": {
    "Receive Test Form": {
      "main": [
        [
          {
            "node": "Set Import Test Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Import Test Values": {
      "main": [
        [
          {
            "node": "Validate Story Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Story Input": {
      "main": [
        [
          {
            "node": "Build Normalize Prompt Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Normalize Prompt Payload": {
      "main": [
        [
          {
            "node": "Input Normalize Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Normalize Model": {
      "ai_languageModel": [
        [
          {
            "node": "Input Normalize Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Input Normalize Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Input Normalize Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Input Normalize Chain": {
      "main": [
        [
          {
            "node": "Assemble Normalized Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Normalized Input": {
      "main": [
        [
          {
            "node": "Build Episode Context Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Episode Context Payload": {
      "main": [
        [
          {
            "node": "Episode Context Analysis Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Episode Context Model": {
      "ai_languageModel": [
        [
          {
            "node": "Episode Context Analysis Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Episode Context Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Episode Context Analysis Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Episode Context Analysis Chain": {
      "main": [
        [
          {
            "node": "Assemble Episode Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {}
}
