workflows/short-drama-pipeline/workflow.json
{
  "name": "short-drama-pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "short-drama-pipeline-test",
        "formTitle": "Short Drama Pipeline Test",
        "formDescription": "Import test form for the short-drama-pipeline workflow.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Story",
              "fieldType": "textarea",
              "placeholder": "드라마의 스토리를 입력하세요.",
              "requiredField": false,
              "elementName": "story",
              "defaultValue": "#1 거리\n단발머리에 가벼운 산책차림의 여주인공.\n\n여주인공은 대형견(반려견 해피)과 기분 좋게 함께 산책중이다. 밝은 햇살과 풍경이 희망찬 분위기를 보여준다.\n\n- 여주인공과 대형견 풀샷\n- 기분 좋은 근영 표정 바스트샷\n- 대형견 풀샷\n- 대형견의 산책 줄의 달 모양 목걸이\n\n걱정스러운 표정으로 남자친구 근영에게 전화가 연결이 안되자 혼잣말을 하고 스마트폰 화면을 처다본다.\n\n[안내음] 음성사서함으로 연결됩니다.\n\n이어서 대형견을 보고 미소를 짓고, 산책을 계속한다.\n\n#2 작업실 문앞\n\n여주인공은 반려견에게 말한다.\n\n\"해피야 잠깐만\"\n\n고장난 작업실 문을 보며 이어 말한다.\n\n\"작업실 문 좀 고치라고 엄청 애기 했는데\"\n\n#3 작업실 계단\n\n여주인공은 반려견을 이끌고 계단을 오른다.\n\n\"가자 해피\"\n\n\"천천히\"\n\n인서트로 연인이자 스타작가인 근영의 상패, 여주인공과 다정하게 찍은 사진이 보인다.\n\n작업실로 들어가는 유리문 사이로 남자친구 근영과 여배우 효정이 키스하며 불륜을 저지르는 장면을 여주인공은 목격한다.\n\n여주인공은 당황한 기색이 역력하고 눈이 흔들린다. 황급히 반려견을 대리고 자리를 피한다.\n\n#3 작업실\n\n여주인공이 나가는 소리에 불륜 상대인 효정이 말한다. 효정은 책상위에 남자친구 근영은 서서 효정을 마주하고 있다.\n\n[효정] \"뭐야 문 열려 있었어요?\"\n\n[근영] \"몰라 바람이라도 불었나보지\"\n\n효정은 장난스럽게 근영에게 이야기한다.\n\n[효정] \"아니 대낮부터 뭐하세요 작가님?\"\n\n근영은 멋적은 듯이 웃고있다.\n\n효정 클로즈업\n\n[효정] \"애인도 있으신 분이\"\n\n근영은 웃으며 가볍게 넘긴다.\n\n[근영] \"그냥 보조 작가로 데리고 있는 거라니까\"\n\n효정은 애정을 확인하려는 듯이 근영에게 말하고 천천히 키스한다.\n\n[효정] \"밥도 사주고 돈도 빌려주는 보조작가가 어딨어요?\"\n\n근영과 효정의 입맞춤 모습 풀샷\n\n#4 여주인공 방 - 밤\n\n여주인공 방에서 혼자 울고 있다. 울음을 삼키려 맥주를 마신다.\n\n[여주인공 나레이션] 스타작가 김근영과 페르소나 탑배우 최효정…\n\n저 관계를 폭로해봤자…\n\n이를 위로하듯 반려견은 여주인공 옆에 앉아있다.\n\n[여주인공] \"해피야 너도 먹고싶어?\"\n\n울먹이는 여주인공\n\n[여주인공 나레이션] 퍼주기만 하고 배신당한 내 처지만…\n\n#3에서 보여진 여주인공과 근영의 사진 인서트. 여주인공이 손으로 들고 있다.\n\n[여주인공 나레이션] 더 비참해 질 것 같았다.\n\n#4 여주인공 방 - 아침\n\n다음날\n\n숙취에 몸부림 치는 여주인공 옆에 있는 의문의 남성. 잠에서 깨지 않은 여주인공은 반려견을 찾는다.\n\n[여주인공] \"해피야\"\n\n여주인공의 시선, 1인칭으로 반려견 해피의 목걸이를 팔찌처럼 차고 곤히 자고 있는 남자의 모습을 따라간다.\n\n낮선남자의 모습에 놀란 여주인공은 일어나 소리친다. 여전히 잠들어 있는 남자를 보고 당황한 모습의 여주인공"
            }
          ]
        },
        "options": {}
      },
      "id": "494810a4-f694-4793-8acd-2a28358e0ccc",
      "name": "Receive Test Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "workflow-name",
              "name": "workflowName",
              "value": "short-drama-pipeline",
              "type": "string"
            },
            {
              "id": "import-check",
              "name": "importCheck",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "submitted-input",
              "name": "submittedStory",
              "value": "={{ $json.submittedStory || $json.story || $json.Story || $json['Story'] || $json.storyText || '' }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "2ce36e77-83b3-41e0-be4c-39c97c95c29c",
      "name": "Set Import Test Values",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\n\nconst rawStory = [\n  item.submittedStory,\n  item.story,\n  item.Story,\n  item.storyText,\n  item['Story'],\n]\n  .find((value) => typeof value === 'string' && value.trim().length > 0) ?? '';\n\nconst submittedStory = String(rawStory).replace(/\\r\\n/g, '\\n').trim();\n\nif (!submittedStory) {\n  throw new Error('submittedStory is empty. Check the Form Trigger output key and enter story text before running Input Normalize.');\n}\n\nconst cleanedStory = submittedStory\n  .replace(/\\t/g, ' ')\n  .replace(/[ \\u00A0]+/g, ' ')\n  .replace(/\\n{3,}/g, '\\n\\n')\n  .trim();\n\nconst sceneHeadingCount = (cleanedStory.match(/^#\\s*\\d+[^\\n]*/gm) ?? []).length;\nconst storyLineCount = cleanedStory.split('\\n').filter((line) => line.trim().length > 0).length;\n\nreturn [{\n  json: {\n    ...item,\n    submittedStory: cleanedStory,\n    sceneHeadingCount,\n    storyLineCount,\n    detectedLanguage: 'ko',\n    inputStage: 'input_received',\n  },\n}];"
      },
      "id": "cb170c99-8820-491a-96ab-fb04cedea7a7",
      "name": "Validate Story Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat-input",
              "name": "chatInput",
              "value": "={{ $json.submittedStory }}",
              "type": "string"
            },
            {
              "id": "normalization-scope",
              "name": "normalizationScope",
              "value": "input_normalize_poc",
              "type": "string"
            },
            {
              "id": "bible-policy",
              "name": "biblePolicy",
              "value": "candidate_only_no_canon_write",
              "type": "string"
            },
            {
              "id": "source-type",
              "name": "sourceType",
              "value": "text_form_story",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a61df76a-d1f5-4b1b-ba80-3e5a0e6e79d1",
      "name": "Build Normalize Prompt Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `You are the Input Normalize step of an AI short-drama generation pipeline.\nYour job is to transform raw user story text into structured candidate metadata for downstream planning.\n\nImportant rules:\n- Do not invent canon facts. Treat all extracted world details as candidates unless they are explicit in the story text.\n- Do not write definitive Series Bible updates. Only propose candidate patches.\n- Preserve ambiguity with lower confidence values.\n- Keep natural-language values in Korean.\n- Keep enum-like values in snake_case.\n- Use concise phrases, not long paragraphs, except for scene summary and story_summary.\n- If a character has no explicit name, keep a stable Korean placeholder label such as \"여주인공\" or \"의문의 남성\".\n- If a location is implied from a scene heading, include it.\n- If the text suggests emotional or relationship shifts, capture them as signals or candidate patches, not canon truth.\n- Return only the data requested by the output schema. No markdown. No extra commentary.\n\nWorkflow context:\n- workflow_name: ${$json.workflowName || 'short-drama-pipeline'}\n- normalization_scope: ${$json.normalizationScope || 'input_normalize_poc'}\n- bible_policy: ${$json.biblePolicy || 'candidate_only_no_canon_write'}\n- source_type: ${$json.sourceType || 'text_form_story'}\n- scene_heading_count: ${$json.sceneHeadingCount || 0}\n- line_count: ${$json.storyLineCount || 0}\n\nStory text:\n${$json.chatInput}` }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a Korean drama development analyst inside an n8n pipeline. Extract only what is supported by the text, keep uncertainty explicit, and prepare candidate metadata for downstream planning."
            }
          ]
        }
      },
      "id": "991729e0-2339-4375-9965-1f5abcdde322",
      "name": "Input Normalize Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1320,
        300
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5.3-chat-latest"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 1,
          "timeout": 120000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "iJ0rT6FtNysjeetC",
          "name": "[kikick] 테스트 키 #1"
        }
      },
      "id": "3922a7f8-409d-4378-85d0-11d3133c185c",
      "name": "Input Normalize Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1320,
        560
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"story_summary\",\n    \"scene_segments\",\n    \"entity_candidates\",\n    \"bible_patch_candidates\",\n    \"production_hints\"\n  ],\n  \"properties\": {\n    \"story_summary\": {\n      \"type\": \"string\"\n    },\n    \"scene_segments\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"scene_id\",\n          \"scene_heading\",\n          \"summary\",\n          \"intent\",\n          \"emotion_tone\",\n          \"key_actions\",\n          \"characters\",\n          \"locations\",\n          \"props\",\n          \"relationship_signals\",\n          \"continuity_risks\"\n        ],\n        \"properties\": {\n          \"scene_id\": {\n            \"type\": \"string\"\n          },\n          \"scene_heading\": {\n            \"type\": \"string\"\n          },\n          \"summary\": {\n            \"type\": \"string\"\n          },\n          \"intent\": {\n            \"type\": \"string\"\n          },\n          \"emotion_tone\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"key_actions\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"characters\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"locations\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"props\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"relationship_signals\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"continuity_risks\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        }\n      }\n    },\n    \"entity_candidates\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"characters\",\n        \"locations\",\n        \"props\",\n        \"relationships\"\n      ],\n      \"properties\": {\n        \"characters\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"required\": [\n              \"name\",\n              \"role\",\n              \"traits\",\n              \"evidence\",\n              \"confidence\"\n            ],\n            \"properties\": {\n              \"name\": {\n                \"type\": \"string\"\n              },\n              \"role\": {\n                \"type\": \"string\"\n              },\n              \"traits\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"evidence\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"confidence\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        },\n        \"locations\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"required\": [\n              \"name\",\n              \"type\",\n              \"attributes\",\n              \"evidence\",\n              \"confidence\"\n            ],\n            \"properties\": {\n              \"name\": {\n                \"type\": \"string\"\n              },\n              \"type\": {\n                \"type\": \"string\"\n              },\n              \"attributes\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"evidence\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"confidence\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        },\n        \"props\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"required\": [\n              \"name\",\n              \"dramatic_use\",\n              \"evidence\",\n              \"confidence\"\n            ],\n            \"properties\": {\n              \"name\": {\n                \"type\": \"string\"\n              },\n              \"dramatic_use\": {\n                \"type\": \"string\"\n              },\n              \"evidence\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"confidence\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        },\n        \"relationships\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"required\": [\n              \"pair\",\n              \"status\",\n              \"change_signal\",\n              \"evidence\",\n              \"confidence\"\n            ],\n            \"properties\": {\n              \"pair\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"status\": {\n                \"type\": \"string\"\n              },\n              \"change_signal\": {\n                \"type\": \"string\"\n              },\n              \"evidence\": {\n                \"type\": \"array\",\n                \"items\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"confidence\": {\n                \"type\": \"string\"\n              }\n            }\n          }\n        }\n      }\n    },\n    \"bible_patch_candidates\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"entity_type\",\n          \"entity_name\",\n          \"proposed_change\",\n          \"evidence\",\n          \"confidence\"\n        ],\n        \"properties\": {\n          \"entity_type\": {\n            \"type\": \"string\"\n          },\n          \"entity_name\": {\n            \"type\": \"string\"\n          },\n          \"proposed_change\": {\n            \"type\": \"string\"\n          },\n          \"evidence\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"confidence\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    \"production_hints\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"dominant_mood\",\n        \"visual_keywords\",\n        \"core_conflict\",\n        \"estimated_complexity\"\n      ],\n      \"properties\": {\n        \"dominant_mood\": {\n          \"type\": \"string\"\n        },\n        \"visual_keywords\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"string\"\n          }\n        },\n        \"core_conflict\": {\n          \"type\": \"string\"\n        },\n        \"estimated_complexity\": {\n          \"type\": \"string\"\n        }\n      }\n    }\n  }\n}",
        "autoFix": false
      },
      "id": "2347398d-c55c-40a9-81b3-6a309c1e1e4a",
      "name": "Input Normalize Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1560,
        560
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst parsed = item.output && typeof item.output === 'object' ? item.output : item;\n\nconst sceneSegments = Array.isArray(parsed.scene_segments) ? parsed.scene_segments : [];\nconst entityCandidates = parsed.entity_candidates ?? {\n  characters: [],\n  locations: [],\n  props: [],\n  relationships: [],\n};\nconst biblePatchCandidates = Array.isArray(parsed.bible_patch_candidates) ? parsed.bible_patch_candidates : [];\nconst productionHints = parsed.production_hints ?? {\n  dominant_mood: '',\n  visual_keywords: [],\n  core_conflict: '',\n  estimated_complexity: 'unknown',\n};\n\nconst uniqueStrings = (values) => [...new Set(\n  values\n    .filter((value) => typeof value === 'string')\n    .map((value) => value.trim())\n    .filter(Boolean),\n)];\n\nconst detectedCharacters = uniqueStrings([\n  ...sceneSegments.flatMap((scene) => Array.isArray(scene.characters) ? scene.characters : []),\n  ...((entityCandidates.characters ?? []).map((character) => character.name)),\n]);\n\nconst detectedLocations = uniqueStrings([\n  ...sceneSegments.flatMap((scene) => Array.isArray(scene.locations) ? scene.locations : []),\n  ...((entityCandidates.locations ?? []).map((location) => location.name)),\n]);\n\nreturn [{\n  json: {\n    ...item,\n    normalizationStatus: 'candidate_ready',\n    normalizedInput: {\n      story_text_structured: {\n        summary: parsed.story_summary ?? '',\n        segments: sceneSegments.map((scene, index) => ({\n          scene_index: index + 1,\n          scene_id: scene.scene_id ?? `scene_${String(index + 1).padStart(2, '0')}`,\n          scene_heading: scene.scene_heading ?? '',\n          summary: scene.summary ?? '',\n          intent: scene.intent ?? '',\n          emotion_tone: Array.isArray(scene.emotion_tone) ? scene.emotion_tone : [],\n          key_actions: Array.isArray(scene.key_actions) ? scene.key_actions : [],\n          entities: {\n            characters: Array.isArray(scene.characters) ? scene.characters : [],\n            locations: Array.isArray(scene.locations) ? scene.locations : [],\n            props: Array.isArray(scene.props) ? scene.props : [],\n          },\n          relationship_signals: Array.isArray(scene.relationship_signals) ? scene.relationship_signals : [],\n          continuity_risks: Array.isArray(scene.continuity_risks) ? scene.continuity_risks : [],\n        })),\n      },\n      resolved_references: {\n        characters: [],\n        locations: [],\n        props: [],\n      },\n      attachment_analysis: [],\n      entity_candidates: entityCandidates,\n      bible_patch_candidates: biblePatchCandidates,\n      production_hints: productionHints,\n      input_metadata: {\n        source_type: item.sourceType ?? 'text_story_form',\n        language: item.detectedLanguage ?? 'ko',\n        scene_count: sceneSegments.length,\n        detected_character_count: detectedCharacters.length,\n        detected_location_count: detectedLocations.length,\n        bible_patch_candidate_count: biblePatchCandidates.length,\n        attachment_count: 0,\n        estimated_complexity: productionHints.estimated_complexity ?? 'unknown',\n      },\n    },\n  },\n}];"
      },
      "id": "31a9c0bb-81e2-4b05-86c0-f348e0b7b510",
      "name": "Assemble Normalized Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst normalizedInput = item.normalizedInput ?? {};\nconst story = normalizedInput.story_text_structured ?? {};\nconst segments = Array.isArray(story.segments) ? story.segments : [];\n\nconst episodeContextAnalysisInput = {\n  story_text_structured: {\n    summary: story.summary ?? '',\n    segments: segments.map((segment) => ({\n      scene_id: segment.scene_id ?? '',\n      scene_heading: segment.scene_heading ?? '',\n      summary: segment.summary ?? '',\n      intent: segment.intent ?? '',\n      emotion_tone: Array.isArray(segment.emotion_tone) ? segment.emotion_tone : [],\n      key_actions: Array.isArray(segment.key_actions) ? segment.key_actions : [],\n      relationship_signals: Array.isArray(segment.relationship_signals) ? segment.relationship_signals : [],\n      continuity_risks: Array.isArray(segment.continuity_risks) ? segment.continuity_risks : [],\n      entities: {\n        characters: Array.isArray(segment.entities?.characters) ? segment.entities.characters : [],\n        locations: Array.isArray(segment.entities?.locations) ? segment.entities.locations : [],\n        props: Array.isArray(segment.entities?.props) ? segment.entities.props : [],\n      },\n    })),\n  },\n  entity_candidates: normalizedInput.entity_candidates ?? {\n    characters: [],\n    locations: [],\n    props: [],\n    relationships: [],\n  },\n  bible_patch_candidates: Array.isArray(normalizedInput.bible_patch_candidates)\n    ? normalizedInput.bible_patch_candidates\n    : [],\n  production_hints: normalizedInput.production_hints ?? {\n    dominant_mood: '',\n    visual_keywords: [],\n    core_conflict: '',\n    estimated_complexity: 'unknown',\n  },\n  input_metadata: normalizedInput.input_metadata ?? {\n    source_type: item.sourceType ?? 'text_story_form',\n    language: item.detectedLanguage ?? 'ko',\n    scene_count: segments.length,\n    detected_character_count: 0,\n    detected_location_count: 0,\n    bible_patch_candidate_count: 0,\n    attachment_count: 0,\n    estimated_complexity: 'unknown',\n  },\n};\n\nreturn [{\n  json: {\n    ...item,\n    contextScope: 'current_episode_only',\n    scoringMode: 'heuristic_plus_llm',\n    episodeContextAnalysisInput,\n  },\n}];"
      },
      "id": "1f3c57ec-b84d-458d-8955-6b6bee9187ee",
      "name": "Build Episode Context Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        900
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `You are the Episode Context Analysis step of an AI short-drama generation pipeline.\nYour job is to convert normalized episode input into a compact episode-level context package for downstream planning.\n\nImportant rules:\n- Work only from the provided normalized input. Do not invent external canon or prior-episode facts.\n- Treat unresolved continuity concerns as watchouts, not hard contradictions, unless the current episode text clearly conflicts with itself.\n- Keep natural-language values in Korean.\n- Keep enum-like values in snake_case.\n- Use concise phrases, not long paragraphs, except for \\`episode_summary\\`.\n- Make scene functions reflect dramatic role inside this single episode.\n- Preserve each \\`scene_id\\` exactly as given in the input. Never invent, rename, shorten, or re-number scene IDs.\n- Relationship progressions must stay grounded in explicit scene evidence.\n- Return only the data requested by the output schema. No markdown. No extra commentary.\n\nWorkflow context:\n- workflow_name: ${$json.workflowName || 'short-drama-pipeline'}\n- context_scope: ${$json.contextScope || 'current_episode_only'}\n- scoring_mode: ${$json.scoringMode || 'heuristic_plus_llm'}\n- scene_count: ${$json.episodeContextAnalysisInput?.input_metadata?.scene_count || 0}\n- estimated_complexity: ${$json.episodeContextAnalysisInput?.input_metadata?.estimated_complexity || 'unknown'}\n\nNormalized input JSON:\n${JSON.stringify($json.episodeContextAnalysisInput, null, 2)}` }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a Korean drama episode context analyst inside an n8n pipeline. Build a compact episode-level context package that helps downstream planning while keeping uncertainty explicit."
            }
          ]
        }
      },
      "id": "ec7308c9-8aa0-49a8-90d5-c5f30282c625",
      "name": "Episode Context Analysis Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        800,
        900
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5.3-chat-latest"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 1,
          "timeout": 120000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "iJ0rT6FtNysjeetC",
          "name": "[kikick] 테스트 키 #1"
        }
      },
      "id": "c4ce3717-5521-489b-860b-34ea1452a929",
      "name": "Episode Context Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        800,
        1160
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"episode_summary\",\n    \"central_conflict\",\n    \"dramatic_question\",\n    \"scene_functions\",\n    \"relationship_progressions\",\n    \"continuity_watchouts\"\n  ],\n  \"properties\": {\n    \"episode_summary\": {\n      \"type\": \"string\"\n    },\n    \"central_conflict\": {\n      \"type\": \"string\"\n    },\n    \"dramatic_question\": {\n      \"type\": \"string\"\n    },\n    \"scene_functions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"scene_id\",\n          \"function\",\n          \"why_it_matters\"\n        ],\n        \"properties\": {\n          \"scene_id\": {\n            \"type\": \"string\"\n          },\n          \"function\": {\n            \"type\": \"string\"\n          },\n          \"why_it_matters\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    \"relationship_progressions\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"pair\",\n          \"starting_state\",\n          \"change\",\n          \"current_implication\",\n          \"confidence\"\n        ],\n        \"properties\": {\n          \"pair\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"starting_state\": {\n            \"type\": \"string\"\n          },\n          \"change\": {\n            \"type\": \"string\"\n          },\n          \"current_implication\": {\n            \"type\": \"string\"\n          },\n          \"confidence\": {\n            \"type\": \"string\"\n          }\n        }\n      }\n    },\n    \"continuity_watchouts\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  }\n}",
        "autoFix": false
      },
      "id": "0a1f6037-48ef-4218-9bec-a3bfb57b7c18",
      "name": "Episode Context Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1060,
        1160
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst payloadNode = $node['Build Episode Context Payload']?.json ?? {};\nconst normalizedNode = $node['Assemble Normalized Input']?.json ?? {};\nconst normalizedInput =\n  item.normalizedInput\n  ?? payloadNode.normalizedInput\n  ?? normalizedNode.normalizedInput\n  ?? {};\nconst analysisInput =\n  item.episodeContextAnalysisInput\n  ?? payloadNode.episodeContextAnalysisInput\n  ?? normalizedInput;\nconst parsed = item.output && typeof item.output === 'object' ? item.output : item;\nconst story = analysisInput.story_text_structured ?? {};\nconst segments = Array.isArray(story.segments) ? story.segments : [];\nconst relationships = Array.isArray(normalizedInput.entity_candidates?.relationships)\n  ? normalizedInput.entity_candidates.relationships\n  : [];\nconst llmWatchouts = Array.isArray(parsed.continuity_watchouts) ? parsed.continuity_watchouts : [];\n\nconst uniqueStrings = (values) => [...new Set(\n  values\n    .filter((value) => typeof value === 'string')\n    .map((value) => value.trim())\n    .filter(Boolean),\n)];\n\nconst countRecurringEntities = (selector) => {\n  const counts = new Map();\n\n  segments.forEach((segment) => {\n    const values = uniqueStrings(selector(segment));\n    values.forEach((value) => {\n      counts.set(value, (counts.get(value) ?? 0) + 1);\n    });\n  });\n\n  return [...counts.values()].filter((count) => count > 1).length;\n};\n\nconst totalContinuityRisks = segments.reduce(\n  (sum, segment) => sum + (Array.isArray(segment.continuity_risks) ? segment.continuity_risks.length : 0),\n  0,\n);\n\nconst relationshipSignalCount = segments.reduce(\n  (sum, segment) => sum + (Array.isArray(segment.relationship_signals) ? segment.relationship_signals.length : 0),\n  0,\n);\n\nconst recurringCharacterCount = countRecurringEntities(\n  (segment) => Array.isArray(segment.entities?.characters) ? segment.entities.characters : [],\n);\n\nconst recurringLocationCount = countRecurringEntities(\n  (segment) => Array.isArray(segment.entities?.locations) ? segment.entities.locations : [],\n);\n\nconst recurringPropCount = countRecurringEntities(\n  (segment) => Array.isArray(segment.entities?.props) ? segment.entities.props : [],\n);\n\nconst sourceSceneIds = segments.map((segment) => segment.scene_id).filter((value) => typeof value === 'string' && value);\n\nconst relationshipPenalty = relationships.length > 0 && relationshipSignalCount === 0 ? 8 : 0;\nconst riskPenalty = Math.min(totalContinuityRisks * 6, 30);\nconst structureBonus = Math.min(Math.max(segments.length - 1, 0) * 2, 10);\nconst recurrenceBonus = Math.min(\n  recurringCharacterCount + Math.min(recurringLocationCount, 2) + Math.min(recurringPropCount, 2),\n  12,\n);\n\nconst rawScore = 70 + structureBonus + recurrenceBonus - riskPenalty - relationshipPenalty;\nconst continuityScore = Math.max(0, Math.min(100, rawScore));\n\nlet continuityConfidence = 'medium';\nif (segments.length >= 4 && totalContinuityRisks <= 2) {\n  continuityConfidence = 'high';\n} else if (segments.length <= 2 || totalContinuityRisks >= 4) {\n  continuityConfidence = 'low';\n}\n\nconst heuristicWatchouts = [];\n\nif (totalContinuityRisks > 0) {\n  heuristicWatchouts.push(`장면별 continuity_risks가 총 ${totalContinuityRisks}건 감지되어 후속 검토가 필요합니다.`);\n}\n\nif (relationships.length > 0 && relationshipSignalCount === 0) {\n  heuristicWatchouts.push('관계 후보는 존재하지만 scene 단위 relationship_signals 근거가 약합니다.');\n}\n\nif (segments.length <= 1) {\n  heuristicWatchouts.push('장면 수가 적어 episode-level continuity 판단 근거가 제한적입니다.');\n}\n\nif ((normalizedInput.input_metadata?.attachment_count ?? 0) > 0) {\n  heuristicWatchouts.push('첨부 분석이 포함되어 있으면 continuity score 해석 범위를 별도 검토해야 합니다.');\n}\n\nconst continuityWatchouts = uniqueStrings([\n  ...llmWatchouts,\n  ...heuristicWatchouts,\n]);\n\nconst normalizedSceneFunctions = Array.isArray(parsed.scene_functions)\n  ? parsed.scene_functions.map((sceneFunction, index) => {\n      const requestedSceneId = typeof sceneFunction?.scene_id === 'string' ? sceneFunction.scene_id.trim() : '';\n      const fallbackSceneId = sourceSceneIds[index] ?? '';\n      const sceneId = sourceSceneIds.includes(requestedSceneId) ? requestedSceneId : fallbackSceneId;\n\n      return {\n        scene_id: sceneId,\n        function: typeof sceneFunction?.function === 'string' ? sceneFunction.function : '',\n        why_it_matters: typeof sceneFunction?.why_it_matters === 'string' ? sceneFunction.why_it_matters : '',\n      };\n    })\n  : [];\n\nif (Array.isArray(parsed.scene_functions) && normalizedSceneFunctions.some((sceneFunction, index) => {\n  const requestedSceneId = typeof parsed.scene_functions[index]?.scene_id === 'string'\n    ? parsed.scene_functions[index].scene_id.trim()\n    : '';\n  return requestedSceneId && requestedSceneId !== sceneFunction.scene_id;\n})) {\n  continuityWatchouts.push('scene_functions의 일부 scene_id가 입력 contract와 달라 입력 scene_id 기준으로 보정되었습니다.');\n}\n\nconst episodeContext = {\n  episode_summary: parsed.episode_summary ?? story.summary ?? '',\n  central_conflict: parsed.central_conflict ?? normalizedInput.production_hints?.core_conflict ?? '',\n  dramatic_question: parsed.dramatic_question ?? '',\n  continuity_score: continuityScore,\n  continuity_confidence: continuityConfidence,\n  continuity_basis: {\n    scope: 'current_episode_only',\n    scoring_mode: item.scoringMode ?? 'heuristic_plus_llm',\n    signals: {\n      scene_count: segments.length,\n      continuity_risk_count: totalContinuityRisks,\n      relationship_signal_count: relationshipSignalCount,\n      recurring_character_count: recurringCharacterCount,\n      recurring_location_count: recurringLocationCount,\n      recurring_prop_count: recurringPropCount,\n    },\n    limitations: [\n      'prior_episode_context_unavailable',\n      'series_bible_lookup_not_connected',\n    ],\n  },\n  continuity_watchouts: continuityWatchouts,\n  scene_functions: normalizedSceneFunctions,\n  relationship_progressions: Array.isArray(parsed.relationship_progressions) ? parsed.relationship_progressions : [],\n};\n\nconst status = segments.length > 0 ? 'ready' : 'partial';\n\nreturn [{\n  json: {\n    ...item,\n    episodeContextStatus: status,\n    episodeContextInputVersion: 'v1',\n    episodeContext,\n  },\n}];"
      },
      "id": "dfd8ff86-654b-4b68-8f97-16cdb4f63850",
      "name": "Assemble Episode Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst episodeNode = item.episodeContext ? item : ($node['Assemble Episode Context']?.json ?? item);\nconst normalizedInput =\n  episodeNode.normalizedInput\n  ?? $node['Assemble Normalized Input']?.json?.normalizedInput\n  ?? {};\nconst episodeContext = episodeNode.episodeContext ?? {};\n\nconst story = normalizedInput.story_text_structured ?? {};\nconst segments = Array.isArray(story.segments) ? story.segments : [];\nconst characterCandidates = Array.isArray(normalizedInput.entity_candidates?.characters)\n  ? normalizedInput.entity_candidates.characters\n  : [];\nconst locationCandidates = Array.isArray(normalizedInput.entity_candidates?.locations)\n  ? normalizedInput.entity_candidates.locations\n  : [];\nconst relationshipProgressions = Array.isArray(episodeContext.relationship_progressions)\n  ? episodeContext.relationship_progressions\n  : [];\nconst continuityWatchouts = Array.isArray(episodeContext.continuity_watchouts)\n  ? episodeContext.continuity_watchouts\n  : [];\nconst contextReferences = item.contextReferences ?? {\n  include_recent: 0,\n  specific_episodes: [],\n  auto_context: false,\n};\n\nconst uniqueStrings = (values) => [...new Set(\n  values\n    .filter((value) => typeof value === 'string')\n    .map((value) => value.trim())\n    .filter(Boolean),\n)];\n\nconst clamp = (value, min, max) => Math.min(max, Math.max(min, value));\n\nconst buildStableId = (prefix, index) => `${prefix}_${String(index + 1).padStart(2, '0')}`;\n\nconst inferArcPhase = () => {\n  if (segments.length <= 2) {\n    return 'setup';\n  }\n\n  if (episodeContext.dramatic_question) {\n    return 'rising_action';\n  }\n\n  return 'inciting_incident';\n};\n\nconst inferCurrentEmotion = (characterName) => {\n  for (let index = segments.length - 1; index >= 0; index -= 1) {\n    const segment = segments[index];\n    const characters = Array.isArray(segment.entities?.characters) ? segment.entities.characters : [];\n\n    if (characters.includes(characterName)) {\n      return Array.isArray(segment.emotion_tone) && segment.emotion_tone.length > 0\n        ? segment.emotion_tone[0]\n        : '';\n    }\n  }\n\n  return '';\n};\n\nconst inferRecentActions = (characterName) => uniqueStrings(\n  segments.flatMap((segment) => {\n    const characters = Array.isArray(segment.entities?.characters) ? segment.entities.characters : [];\n    return characters.includes(characterName) && Array.isArray(segment.key_actions)\n      ? segment.key_actions\n      : [];\n  }),\n).slice(-3);\n\nconst buildCharacterContext = () => characterCandidates.map((character, index) => ({\n  id: buildStableId('char', index),\n  name: character.name ?? `character_${index + 1}`,\n  full_profile: uniqueStrings([\n    character.role ?? '',\n    ...(Array.isArray(character.traits) ? character.traits : []),\n  ]).join(', '),\n  current_emotional_state: inferCurrentEmotion(character.name ?? ''),\n  recent_actions: inferRecentActions(character.name ?? ''),\n  traits: Array.isArray(character.traits) ? character.traits : [],\n  reference_pack: {\n    base: '',\n    expressions: [],\n  },\n}));\n\nconst buildLocationContext = () => locationCandidates.map((location, index) => {\n  const relatedSceneIds = segments\n    .filter((segment) => Array.isArray(segment.entities?.locations) && segment.entities.locations.includes(location.name))\n    .map((segment) => segment.scene_id)\n    .filter((sceneId) => typeof sceneId === 'string' && sceneId);\n\n  return {\n    id: buildStableId('loc', index),\n    name: location.name ?? `location_${index + 1}`,\n    visual_spec: uniqueStrings([\n      ...(Array.isArray(location.attributes) ? location.attributes : []),\n      ...(Array.isArray(location.evidence) ? location.evidence : []),\n    ]).join(', '),\n    mood: normalizedInput.production_hints?.dominant_mood ?? '',\n    reference_images: [],\n    related_scene_ids: relatedSceneIds,\n  };\n});\n\nconst activePlotThreads = [];\n\nif (episodeContext.dramatic_question) {\n  activePlotThreads.push({\n    thread_id: 'thread_main_question',\n    description: episodeContext.dramatic_question,\n    status: 'unresolved',\n    urgency: 'high',\n  });\n}\n\nrelationshipProgressions.slice(0, 3).forEach((progression, index) => {\n  activePlotThreads.push({\n    thread_id: `thread_relationship_${index + 1}`,\n    description: progression.current_implication ?? progression.change ?? '',\n    status: progression.confidence === 'high' ? 'active' : 'unresolved',\n    urgency: progression.confidence === 'high' ? 'medium' : 'high',\n  });\n});\n\nif (continuityWatchouts.length > 0) {\n  activePlotThreads.push({\n    thread_id: 'thread_continuity_watchout',\n    description: continuityWatchouts[0],\n    status: 'warning',\n    urgency: 'medium',\n  });\n}\n\nconst normalizedContinuityScore = clamp((episodeContext.continuity_score ?? 70) / 100, 0, 1);\nconst continuityPressure = Number((1 - normalizedContinuityScore).toFixed(2));\nconst tensionTarget = Number(clamp(\n  0.45 + (activePlotThreads.length * 0.08) + (continuityWatchouts.length > 0 ? 0.05 : 0),\n  0.45,\n  0.95,\n).toFixed(2));\n\nconst seriesContext = {\n  series_id: item.seriesId ?? item.workflowName ?? 'short-drama-pipeline',\n  world_setting: `${uniqueStrings(locationCandidates.map((location) => location.name)).join(', ') || '현재 에피소드 공간'} 중심의 단일 에피소드 PoC 컨텍스트`,\n  themes: uniqueStrings([\n    normalizedInput.production_hints?.dominant_mood ?? '',\n    episodeContext.central_conflict ? '관계 붕괴' : '',\n    episodeContext.dramatic_question ? '미스터리' : '',\n  ]),\n  tone: normalizedInput.production_hints?.dominant_mood ?? 'drama',\n  total_episodes: item.totalEpisodes ?? 1,\n  current_episode_number: item.currentEpisodeNumber ?? 1,\n  context_mode: 'current_episode_only',\n};\n\nconst planningContext = {\n  series_context: seriesContext,\n  character_context: buildCharacterContext(),\n  location_context: buildLocationContext(),\n  narrative_context: {\n    arc_phase: inferArcPhase(),\n    active_threads: activePlotThreads,\n    tension_target: tensionTarget,\n    episode_goal: episodeContext.central_conflict || episodeContext.dramatic_question || story.summary || '',\n  },\n  creative_constraints: {\n    max_new_characters: continuityPressure >= 0.3 ? 0 : 1,\n    max_new_locations: continuityPressure >= 0.5 ? 0 : 1,\n    creative_freedom: Number(clamp(0.45 - continuityPressure * 0.3, 0.15, 0.45).toFixed(2)),\n    continuity_priority: continuityPressure,\n    context_references: contextReferences,\n  },\n};\n\nreturn [{\n  json: {\n    ...episodeNode,\n    planningContextStatus: 'ready',\n    planningContextInputVersion: 'v1',\n    planningContext,\n  },\n}];"
      },
      "id": "dbc2fdc1-0e47-4096-b1ed-4a2d785d8d63",
      "name": "Context Selection Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        1540
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst planningNode = item.planningContext ? item : ($node['Context Selection Engine']?.json ?? item);\n\nreturn [{\n  json: {\n    ...planningNode,\n    storyDevelopmentInput: {\n      normalized_input: planningNode.normalizedInput ?? {},\n      episode_context: planningNode.episodeContext ?? {},\n      planning_context: planningNode.planningContext ?? {},\n    },\n  },\n}];"
      },
      "id": "25919297-5b7d-4412-a7a1-a88e7357e7ba",
      "name": "Build Story Development Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        1960
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `You are the Story Developer step of an AI short-drama generation pipeline.\nYour job is to convert planning context into a compact, production-ready story development package.\n\nImportant rules:\n- Work only from the provided planning context, episode context, and normalized input.\n- Keep natural-language values in Korean.\n- Keep enum-like values in snake_case.\n- Use \\`creative_strategy.primary\\` and \\`creative_strategy.secondary\\` only from this set:\n  - \\`emotional_drama\\`\n  - \\`relationship_drama\\`\n  - \\`suspense_mystery\\`\n  - \\`romantic_mystery\\`\n  - \\`betrayal_reveal\\`\n- Use \\`beat_sheet[].type\\` only from this set:\n  - \\`setup\\`\n  - \\`approach\\`\n  - \\`catalyst\\`\n  - \\`confrontation\\`\n  - \\`midpoint\\`\n  - \\`fallout\\`\n  - \\`mystery_setup\\`\n  - \\`climax\\`\n  - \\`resolution\\`\n- Produce a beat sheet with 6 to 8 beats unless the planning context strongly requires fewer.\n- Keep \\`beat_id\\` sequential starting from 1.\n- Every beat must include \\`source_scene_ids\\`, and each value must exactly match scene IDs from the input.\n- \\`duration_ratio\\` values should approximately sum to 1.0 across the beat sheet.\n- \\`tension\\` must be a number between 0 and 1.\n- Emotional arc must align with the generated beat sheet.\n- Do not invent external canon or prior-episode events beyond the provided context.\n- Return only the data requested by the output schema. No markdown. No extra commentary.\n\nWorkflow context:\n- workflow_name: ${$json.workflowName || 'short-drama-pipeline'}\n- continuity_score: ${$json.storyDevelopmentInput?.episode_context?.continuity_score ?? 0.7}\n- arc_phase: ${$json.storyDevelopmentInput?.planning_context?.narrative_context?.arc_phase || 'unknown'}\n- tension_target: ${$json.storyDevelopmentInput?.planning_context?.narrative_context?.tension_target ?? 0.7}\n- creative_freedom: ${$json.storyDevelopmentInput?.planning_context?.creative_constraints?.creative_freedom ?? 0.3}\n\nStory development input JSON:\n${JSON.stringify($json.storyDevelopmentInput, null, 2)}` }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a Korean drama story developer inside an n8n pipeline. Build a structured beat sheet and emotional arc that downstream screenplay generation can trust."
            }
          ]
        }
      },
      "id": "4cc1ebb5-04c8-4686-ab3f-3111719764b8",
      "name": "Story Developer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        800,
        1960
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5.3-chat-latest"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 1,
          "timeout": 120000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "iJ0rT6FtNysjeetC",
          "name": "[kikick] 테스트 키 #1"
        }
      },
      "id": "0e028ac3-4e58-42ba-82eb-1012f4da1ebf",
      "name": "Story Developer Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        800,
        2220
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"density_analysis\",\n    \"creative_strategy\",\n    \"beat_sheet\",\n    \"emotional_arc\"\n  ],\n  \"properties\": {\n    \"density_analysis\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"level\",\n        \"rationale\"\n      ],\n      \"properties\": {\n        \"level\": {\n          \"type\": \"string\"\n        },\n        \"rationale\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"creative_strategy\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"primary\",\n        \"secondary\",\n        \"style_notes\"\n      ],\n      \"properties\": {\n        \"primary\": {\n          \"type\": \"string\"\n        },\n        \"secondary\": {\n          \"type\": \"string\"\n        },\n        \"style_notes\": {\n          \"type\": \"string\"\n        }\n      }\n    },\n    \"beat_sheet\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"beat_id\",\n          \"type\",\n          \"description\",\n          \"source_scene_ids\",\n          \"emotion\",\n          \"tension\",\n          \"duration_ratio\"\n        ],\n        \"properties\": {\n          \"beat_id\": {\n            \"type\": \"number\"\n          },\n          \"type\": {\n            \"type\": \"string\"\n          },\n          \"description\": {\n            \"type\": \"string\"\n          },\n          \"source_scene_ids\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"emotion\": {\n            \"type\": \"string\"\n          },\n          \"tension\": {\n            \"type\": \"number\"\n          },\n          \"duration_ratio\": {\n            \"type\": \"number\"\n          }\n        }\n      }\n    },\n    \"emotional_arc\": {\n      \"type\": \"object\",\n      \"additionalProperties\": false,\n      \"required\": [\n        \"opening_emotion\",\n        \"peak_emotion\",\n        \"closing_emotion\",\n        \"arc_shape\",\n        \"intensity_curve\"\n      ],\n      \"properties\": {\n        \"opening_emotion\": {\n          \"type\": \"string\"\n        },\n        \"peak_emotion\": {\n          \"type\": \"string\"\n        },\n        \"closing_emotion\": {\n          \"type\": \"string\"\n        },\n        \"arc_shape\": {\n          \"type\": \"string\"\n        },\n        \"intensity_curve\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"number\"\n          }\n        }\n      }\n    }\n  }\n}",
        "autoFix": false
      },
      "id": "28f3a623-62a1-4542-a7c0-01e2e2de7a42",
      "name": "Story Developer Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1060,
        2220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst payloadNode = $node['Build Story Development Payload']?.json ?? {};\nconst planningNode = $node['Context Selection Engine']?.json ?? {};\nconst parsed = item.output && typeof item.output === 'object' ? item.output : item;\nconst normalizedInput =\n  item.normalizedInput\n  ?? payloadNode.normalizedInput\n  ?? planningNode.normalizedInput\n  ?? {};\nconst episodeContext =\n  item.episodeContext\n  ?? payloadNode.episodeContext\n  ?? planningNode.episodeContext\n  ?? {};\nconst planningContext =\n  item.planningContext\n  ?? payloadNode.planningContext\n  ?? planningNode.planningContext\n  ?? {};\n\nconst segments = Array.isArray(normalizedInput.story_text_structured?.segments)\n  ? normalizedInput.story_text_structured.segments\n  : [];\nconst sceneFunctions = Array.isArray(episodeContext.scene_functions)\n  ? episodeContext.scene_functions\n  : [];\n\nconst clamp = (value, min, max) => Math.min(max, Math.max(min, value));\nconst uniqueStrings = (values) => [...new Set(\n  values\n    .filter((value) => typeof value === 'string')\n    .map((value) => value.trim())\n    .filter(Boolean),\n)];\n\nconst STRATEGY_ALIASES = {\n  emotional_drama: 'emotional_drama',\n  emotional_collapse_to_mystery: 'emotional_drama',\n  relationship_drama: 'relationship_drama',\n  romance_drama: 'relationship_drama',\n  suspense: 'suspense_mystery',\n  suspense_mystery: 'suspense_mystery',\n  mystery_hook: 'suspense_mystery',\n  romantic_mystery: 'romantic_mystery',\n  betrayal_reveal: 'betrayal_reveal',\n  betrayal_reveal_with_mystery_hook: 'betrayal_reveal',\n};\n\nconst BEAT_TYPE_ALIASES = {\n  setup: 'setup',\n  approach: 'approach',\n  catalyst: 'catalyst',\n  inciting_incident: 'catalyst',\n  confrontation: 'confrontation',\n  confrontation_observation: 'confrontation',\n  midpoint: 'midpoint',\n  emotional_fallout: 'fallout',\n  fallout: 'fallout',\n  mystery_setup: 'mystery_setup',\n  climax: 'climax',\n  cliffhanger_reveal: 'climax',\n  resolution: 'resolution',\n};\n\nconst normalizeStrategy = (value, fallback) => {\n  if (typeof value !== 'string') {\n    return fallback;\n  }\n\n  return STRATEGY_ALIASES[value.trim()] ?? fallback;\n};\n\nconst normalizeBeatType = (value, fallback) => {\n  if (typeof value !== 'string') {\n    return fallback;\n  }\n\n  return BEAT_TYPE_ALIASES[value.trim()] ?? fallback;\n};\n\nconst fallbackDensityLevel = (() => {\n  const sceneCount = normalizedInput.input_metadata?.scene_count ?? segments.length;\n  if (sceneCount >= 8) {\n    return 'high';\n  }\n  if (sceneCount >= 5) {\n    return 'medium';\n  }\n  return 'low';\n})();\n\nconst densityAnalysis = {\n  level: parsed.density_analysis?.level ?? fallbackDensityLevel,\n  rationale: parsed.density_analysis?.rationale\n    ?? `${segments.length}개 안팎의 장면과 ${episodeContext.central_conflict ? '명확한 중심 갈등' : '단일 에피소드 중심 사건'}을 바탕으로 한 ${fallbackDensityLevel} 밀도 에피소드`,\n};\n\nconst creativeStrategy = {\n  primary: normalizeStrategy(parsed.creative_strategy?.primary, 'emotional_drama'),\n  secondary: normalizeStrategy(parsed.creative_strategy?.secondary, 'suspense_mystery'),\n  style_notes: parsed.creative_strategy?.style_notes\n    ?? `${episodeContext.central_conflict || episodeContext.dramatic_question || '관계 변화'}를 중심으로 감정선과 긴장을 병행`,\n};\n\nconst fallbackBeatSheet = sceneFunctions.map((sceneFunction, index) => {\n  const segment = segments[index] ?? {};\n  const beatTypes = ['setup', 'catalyst', 'confrontation', 'midpoint', 'climax', 'resolution'];\n  const beatType = beatTypes[Math.min(index, beatTypes.length - 1)];\n  const durationRatio = Number((1 / Math.max(sceneFunctions.length || 1, 1)).toFixed(2));\n  const tension = Number(clamp(0.3 + index * 0.12, 0.2, 0.95).toFixed(2));\n\n  return {\n    beat_id: index + 1,\n    type: beatType,\n    description: sceneFunction.why_it_matters || segment.summary || '',\n    source_scene_ids: uniqueStrings([segment.scene_id ?? sceneFunction.scene_id ?? '']),\n    emotion: Array.isArray(segment.emotion_tone) && segment.emotion_tone.length > 0\n      ? segment.emotion_tone[0]\n      : 'neutral',\n    tension,\n    duration_ratio: durationRatio,\n  };\n});\n\nconst normalizedBeatSheet = Array.isArray(parsed.beat_sheet) && parsed.beat_sheet.length > 0\n  ? parsed.beat_sheet.map((beat, index, array) => ({\n      beat_id: index + 1,\n      type: normalizeBeatType(\n        beat?.type,\n        fallbackBeatSheet[index]?.type ?? 'confrontation',\n      ),\n      description: typeof beat?.description === 'string' ? beat.description : '',\n      source_scene_ids: uniqueStrings(\n        Array.isArray(beat?.source_scene_ids) && beat.source_scene_ids.length > 0\n          ? beat.source_scene_ids\n          : (fallbackBeatSheet[index]?.source_scene_ids ?? []),\n      ),\n      emotion: typeof beat?.emotion === 'string' ? beat.emotion : 'neutral',\n      tension: Number(clamp(Number(beat?.tension ?? 0.5), 0, 1).toFixed(2)),\n      duration_ratio: Number(clamp(Number(beat?.duration_ratio ?? (1 / Math.max(array.length, 1))), 0.05, 0.5).toFixed(2)),\n    }))\n  : fallbackBeatSheet;\n\nconst emotionalArc = {\n  opening_emotion: parsed.emotional_arc?.opening_emotion\n    ?? normalizedBeatSheet[0]?.emotion\n    ?? 'neutral',\n  peak_emotion: parsed.emotional_arc?.peak_emotion\n    ?? normalizedBeatSheet.reduce((best, beat) => (beat.tension > best.tension ? beat : best), normalizedBeatSheet[0] ?? { emotion: 'neutral', tension: 0 }).emotion,\n  closing_emotion: parsed.emotional_arc?.closing_emotion\n    ?? normalizedBeatSheet[normalizedBeatSheet.length - 1]?.emotion\n    ?? 'neutral',\n  arc_shape: parsed.emotional_arc?.arc_shape ?? 'rising_with_twist',\n  intensity_curve: Array.isArray(parsed.emotional_arc?.intensity_curve) && parsed.emotional_arc.intensity_curve.length > 0\n    ? parsed.emotional_arc.intensity_curve.map((value) => Number(clamp(Number(value), 0, 1).toFixed(2)))\n    : normalizedBeatSheet.map((beat) => beat.tension),\n};\n\nreturn [{\n  json: {\n    ...item,\n    storyDevelopmentStatus: normalizedBeatSheet.length > 0 ? 'ready' : 'partial',\n    storyDevelopmentInputVersion: 'v1',\n    storyDevelopment: {\n      density_analysis: densityAnalysis,\n      creative_strategy: creativeStrategy,\n      beat_sheet: normalizedBeatSheet,\n      emotional_arc: emotionalArc,\n    },\n  },\n}];"
      },
      "id": "ff545b31-a530-441a-b0de-4aff4ae00985",
      "name": "Assemble Story Development",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        1960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst storyNode = item.storyDevelopment ? item : ($node['Assemble Story Development']?.json ?? item);\n\nreturn [{\n  json: {\n    ...storyNode,\n    screenplayInput: {\n      normalized_input: storyNode.normalizedInput ?? {},\n      episode_context: storyNode.episodeContext ?? {},\n      planning_context: storyNode.planningContext ?? {},\n      story_development: storyNode.storyDevelopment ?? {},\n    },\n  },\n}];"
      },
      "id": "0df3e15e-1643-43c5-9cfc-5db0ba2d34d2",
      "name": "Build Screenplay Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        2640
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ `You are the Screenplay Writer step of an AI short-drama generation pipeline.\nYour job is to convert story development output into a concrete scene list for production planning.\n\nImportant rules:\n- Work only from the provided normalized input, planning context, episode context, and story development.\n- Keep natural-language values in Korean.\n- Keep enum-like values in snake_case.\n- Preserve \\`source_beats\\` exactly as beat IDs from the input beat sheet.\n- Use \\`location_id\\` values only from the provided \\`planning_context.location_context[].id\\`.\n- Use \\`characters_present\\` and \\`actions[].character\\` values only from the provided \\`planning_context.character_context[].id\\`.\n- \\`scene_id\\` must use the format \\`sc_001\\`, \\`sc_002\\`, ... in sequence.\n- Every scene must contain \\`heading\\`, \\`description\\`, \\`actions\\`, \\`dialogue\\`, \\`mood\\`, and \\`duration_target_sec\\`.\n- Dialogue may be sparse in PoC mode, but each scene should still define an explicit \\`dialogue\\` array.\n- Keep the screenplay aligned with the beat sheet and emotional arc.\n- Return only the data requested by the output schema. No markdown. No extra commentary.\n\nWorkflow context:\n- workflow_name: ${$json.workflowName || 'short-drama-pipeline'}\n- beat_count: ${$json.screenplayInput?.story_development?.beat_sheet?.length || 0}\n- target_tone: ${$json.screenplayInput?.planning_context?.series_context?.tone || 'drama'}\n- arc_phase: ${$json.screenplayInput?.planning_context?.narrative_context?.arc_phase || 'unknown'}\n\nScreenplay input JSON:\n${JSON.stringify($json.screenplayInput, null, 2)}` }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "You are a Korean drama screenplay writer inside an n8n pipeline. Expand the beat sheet into a stable scene list with production-usable structure."
            }
          ]
        }
      },
      "id": "bacdccc1-b6cf-46f0-957b-f1c8cf86baa6",
      "name": "Screenplay Writer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        800,
        2640
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5.3-chat-latest"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 1,
          "timeout": 120000
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "iJ0rT6FtNysjeetC",
          "name": "[kikick] 테스트 키 #1"
        }
      },
      "id": "3d1bcab3-a472-49be-beea-1d5bc90be7d1",
      "name": "Screenplay Writer Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        800,
        2900
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"required\": [\n    \"scenes\",\n    \"total_scenes\",\n    \"total_duration_target_sec\"\n  ],\n  \"properties\": {\n    \"scenes\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\n          \"scene_id\",\n          \"source_beats\",\n          \"heading\",\n          \"location_id\",\n          \"time_of_day\",\n          \"characters_present\",\n          \"description\",\n          \"actions\",\n          \"dialogue\",\n          \"mood\",\n          \"duration_target_sec\"\n        ],\n        \"properties\": {\n          \"scene_id\": {\n            \"type\": \"string\"\n          },\n          \"source_beats\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"number\"\n            }\n          },\n          \"heading\": {\n            \"type\": \"string\"\n          },\n          \"location_id\": {\n            \"type\": \"string\"\n          },\n          \"time_of_day\": {\n            \"type\": \"string\"\n          },\n          \"characters_present\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          },\n          \"description\": {\n            \"type\": \"string\"\n          },\n          \"actions\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"additionalProperties\": false,\n              \"required\": [\n                \"character\",\n                \"action\",\n                \"emotion\",\n                \"detail\"\n              ],\n              \"properties\": {\n                \"character\": {\n                  \"type\": \"string\"\n                },\n                \"action\": {\n                  \"type\": \"string\"\n                },\n                \"emotion\": {\n                  \"type\": \"string\"\n                },\n                \"detail\": {\n                  \"type\": \"string\"\n                }\n              }\n            }\n          },\n          \"dialogue\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"additionalProperties\": false,\n              \"required\": [\n                \"speaker\",\n                \"text\",\n                \"tone\",\n                \"subtext\"\n              ],\n              \"properties\": {\n                \"speaker\": {\n                  \"type\": \"string\"\n                },\n                \"text\": {\n                  \"type\": \"string\"\n                },\n                \"tone\": {\n                  \"type\": \"string\"\n                },\n                \"subtext\": {\n                  \"type\": \"string\"\n                }\n              }\n            }\n          },\n          \"mood\": {\n            \"type\": \"object\",\n            \"additionalProperties\": false,\n            \"required\": [\n              \"visual\",\n              \"audio\"\n            ],\n            \"properties\": {\n              \"visual\": {\n                \"type\": \"string\"\n              },\n              \"audio\": {\n                \"type\": \"string\"\n              }\n            }\n          },\n          \"duration_target_sec\": {\n            \"type\": \"number\"\n          }\n        }\n      }\n    },\n    \"total_scenes\": {\n      \"type\": \"number\"\n    },\n    \"total_duration_target_sec\": {\n      \"type\": \"number\"\n    }\n  }\n}",
        "autoFix": false
      },
      "id": "eb85e3bb-84be-4be9-a82e-cbdc7dd064e9",
      "name": "Screenplay Writer Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1060,
        2900
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const item = $input.first().json;\nconst payloadNode = $node['Build Screenplay Payload']?.json ?? {};\nconst storyNode = $node['Assemble Story Development']?.json ?? {};\nconst parsed = item.output && typeof item.output === 'object' ? item.output : item;\nconst normalizedInput =\n  item.normalizedInput\n  ?? payloadNode.normalized_input\n  ?? payloadNode.screenplayInput?.normalized_input\n  ?? storyNode.normalizedInput\n  ?? {};\nconst episodeContext =\n  item.episodeContext\n  ?? payloadNode.episode_context\n  ?? payloadNode.screenplayInput?.episode_context\n  ?? storyNode.episodeContext\n  ?? {};\nconst planningContext =\n  item.planningContext\n  ?? payloadNode.planning_context\n  ?? payloadNode.screenplayInput?.planning_context\n  ?? storyNode.planningContext\n  ?? {};\nconst storyDevelopment =\n  item.storyDevelopment\n  ?? payloadNode.story_development\n  ?? payloadNode.screenplayInput?.story_development\n  ?? storyNode.storyDevelopment\n  ?? {};\n\nconst segments = Array.isArray(normalizedInput.story_text_structured?.segments)\n  ? normalizedInput.story_text_structured.segments\n  : [];\nconst beatSheet = Array.isArray(storyDevelopment.beat_sheet)\n  ? storyDevelopment.beat_sheet\n  : [];\nconst characters = Array.isArray(planningContext.character_context)\n  ? planningContext.character_context\n  : [];\nconst locations = Array.isArray(planningContext.location_context)\n  ? planningContext.location_context\n  : [];\n\nconst clamp = (value, min, max) => Math.min(max, Math.max(min, value));\nconst uniqueStrings = (values) => [...new Set(\n  values\n    .filter((value) => typeof value === 'string')\n    .map((value) => value.trim())\n    .filter(Boolean),\n)];\nconst slugify = (value) => String(value ?? '')\n  .trim()\n  .toLowerCase()\n  .replace(/[^a-z0-9]+/g, '_')\n  .replace(/^_+|_+$/g, '');\nconst toSceneId = (index) => `sc_${String(index + 1).padStart(3, '0')}`;\n\nconst segmentById = new Map(\n  segments\n    .filter((segment) => typeof segment?.scene_id === 'string' && segment.scene_id)\n    .map((segment) => [segment.scene_id, segment]),\n);\nconst characterIdByName = new Map(\n  characters\n    .filter((character) => typeof character?.name === 'string' && typeof character?.id === 'string')\n    .map((character) => [character.name, character.id]),\n);\n\nconst relatedSceneIdsByLocationId = new Map(\n  locations.map((location) => [\n    location.id,\n    Array.isArray(location.related_scene_ids) ? location.related_scene_ids : [],\n  ]),\n);\n\nconst inferTimeOfDay = (value) => {\n  const text = String(value ?? '');\n\n  if (text.includes('아침')) {\n    return 'morning';\n  }\n  if (text.includes('밤')) {\n    return 'night';\n  }\n  if (text.includes('저녁')) {\n    return 'evening';\n  }\n  if (text.includes('낮')) {\n    return 'day';\n  }\n\n  return 'unspecified';\n};\n\nconst buildHeading = (segment, location) => {\n  const locationName = segment?.scene_heading || location?.name || '미상 공간';\n  const timeOfDay = inferTimeOfDay(segment?.scene_heading || '');\n  const timeLabelMap = {\n    morning: '아침',\n    day: '낮',\n    evening: '저녁',\n    night: '밤',\n    unspecified: '불명',\n  };\n\n  return `INT. ${locationName} - ${timeLabelMap[timeOfDay] ?? '불명'}`;\n};\n\nconst resolveLocation = (sourceSceneIds, segment) => {\n  const preferredLocationName = Array.isArray(segment?.entities?.locations) && segment.entities.locations.length > 0\n    ? segment.entities.locations[0]\n    : '';\n  const exactByName = locations.find((location) => location.name === preferredLocationName);\n\n  if (exactByName) {\n    return exactByName;\n  }\n\n  const byScene = locations.find((location) => {\n    const related = relatedSceneIdsByLocationId.get(location.id) ?? [];\n    return sourceSceneIds.some((sceneId) => related.includes(sceneId));\n  });\n\n  if (byScene) {\n    return byScene;\n  }\n\n  return locations[0] ?? { id: 'loc_01', name: segment?.scene_heading || '미상 공간' };\n};\n\nconst resolveCharacters = (segment) => {\n  const names = Array.isArray(segment?.entities?.characters) ? segment.entities.characters : [];\n  const ids = uniqueStrings(names.map((name) => characterIdByName.get(name)).filter(Boolean));\n  return ids.length > 0 ? ids : characters.slice(0, 1).map((character) => character.id);\n};\n\nconst buildActions = (segment, characterIds, emotion) => {\n  const sourceActions = Array.isArray(segment?.key_actions) ? segment.key_actions : [];\n  const fallbackActions = sourceActions.length > 0 ? sourceActions : ['상황을 관찰한다'];\n\n  return fallbackActions.slice(0, Math.max(1, Math.min(3, characterIds.length || 1))).map((detail, index) => ({\n    character: characterIds[index] ?? characterIds[0] ?? (characters[0]?.id || 'char_01'),\n    action: slugify(detail) || 'observe',\n    emotion: emotion || 'neutral',\n    detail,\n  }));\n};\n\nconst buildDialogue = (segment, characterIds, emotion) => {\n  const summary = String(segment?.summary ?? '').trim();\n  if (!summary || characterIds.length === 0) {\n    return [];\n  }\n\n  return [{\n    speaker: characterIds[0],\n    text: `${summary.slice(0, 70)}${summary.length > 70 ? '...' : ''}`,\n    tone: emotion || 'neutral',\n    subtext: '현재 장면의 핵심 감정을 드러내는 요약 대사',\n  }];\n};\n\nconst fallbackScenes = beatSheet.map((beat, index, array) => {\n  const sourceSceneIds = Array.isArray(beat.source_scene_ids) && beat.source_scene_ids.length > 0\n    ? beat.source_scene_ids\n    : [segments[index]?.scene_id].filter(Boolean);\n  const segment = segmentById.get(sourceSceneIds[0]) ?? segments[index] ?? {};\n  const location = resolveLocation(sourceSceneIds, segment);\n  const charactersPresent = resolveCharacters(segment);\n  const emotion = beat.emotion || (Array.isArray(segment.emotion_tone) ? segment.emotion_tone[0] : '') || 'neutral';\n  const durationTargetSec = Math.round(clamp(Number(beat.duration_ratio ?? (1 / Math.max(array.length, 1))) * 90, 6, 30));\n\n  return {\n    scene_id: toSceneId(index),\n    source_beats: [beat.beat_id ?? (index + 1)],\n    heading: buildHeading(segment, location),\n    location_id: location.id,\n    time_of_day: inferTimeOfDay(segment.scene_heading || ''),\n    characters_present: charactersPresent,\n    description: beat.description || segment.summary || episodeContext.episode_summary || '',\n    actions: buildActions(segment, charactersPresent, emotion),\n    dialogue: buildDialogue(segment, charactersPresent, emotion),\n    mood: {\n      visual: slugify(normalizedInput.production_hints?.dominant_mood || emotion) || 'dramatic',\n      audio: beat.tension >= 0.7 ? 'tense_silence' : 'ambient_room_tone',\n    },\n    duration_target_sec: durationTargetSec,\n  };\n});\n\nconst normalizedScenes = Array.isArray(parsed.scenes) && parsed.scenes.length > 0\n  ? parsed.scenes.map((scene, index) => {\n      const fallbackScene = fallbackScenes[index] ?? fallbackScenes[0] ?? {\n        scene_id: toSceneId(index),\n        source_beats: [index + 1],\n        heading: 'INT. 미상 공간 - 불명',\n        location_id: locations[0]?.id || 'loc_01',\n        time_of_day: 'unspecified',\n        characters_present: characters.slice(0, 1).map((character) => character.id),\n        description: '',\n        actions: [],\n        dialogue: [],\n        mood: { visual: 'dramatic', audio: 'ambient_room_tone' },\n        duration_target_sec: 12,\n      };\n\n      const normalizedCharacters = uniqueStrings(\n        Array.isArray(scene?.characters_present) ? scene.characters_present : fallbackScene.characters_present,\n      );\n\n      return {\n        scene_id: toSceneId(index),\n        source_beats: Array.isArray(scene?.source_beats) && scene.source_beats.length > 0\n          ? scene.source_beats.map((value) => Number(value)).filter((value) => Number.isFinite(value))\n          : fallbackScene.source_beats,\n        heading: typeof scene?.heading === 'string' && scene.heading.trim() ? scene.heading : fallbackScene.heading,\n        location_id: typeof scene?.location_id === 'string' && scene.location_id.trim()\n          ? scene.location_id\n          : fallbackScene.location_id,\n        time_of_day: typeof scene?.time_of_day === 'string' && scene.time_of_day.trim()\n          ? scene.time_of_day\n          : fallbackScene.time_of_day,\n        characters_present: normalizedCharacters.length > 0 ? normalizedCharacters : fallbackScene.characters_present,\n        description: typeof scene?.description === 'string' ? scene.description : fallbackScene.description,\n        actions: Array.isArray(scene?.actions) && scene.actions.length > 0\n          ? scene.actions.map((action, actionIndex) => ({\n              character: typeof action?.character === 'string' && action.character.trim()\n                ? action.character\n                : (normalizedCharacters[actionIndex] ?? normalizedCharacters[0] ?? fallbackScene.characters_present[0] ?? 'char_01'),\n              action: slugify(action?.action) || 'observe',\n              emotion: typeof action?.emotion === 'string' && action.emotion.trim()\n                ? action.emotion\n                : 'neutral',\n              detail: typeof action?.detail === 'string' ? action.detail : '',\n            }))\n          : fallbackScene.actions,\n        dialogue: Array.isArray(scene?.dialogue)\n          ? scene.dialogue.map((line) => ({\n              speaker: typeof line?.speaker === 'string' && line.speaker.trim()\n                ? line.speaker\n                : (normalizedCharacters[0] ?? fallbackScene.characters_present[0] ?? 'char_01'),\n              text: typeof line?.text === 'string' ? line.text : '',\n              tone: typeof line?.tone === 'string' && line.tone.trim() ? line.tone : 'neutral',\n              subtext: typeof line?.subtext === 'string' ? line.subtext : '',\n            }))\n          : fallbackScene.dialogue,\n        mood: {\n          visual: typeof scene?.mood?.visual === 'string' && scene.mood.visual.trim()\n            ? scene.mood.visual\n            : fallbackScene.mood.visual,\n          audio: typeof scene?.mood?.audio === 'string' && scene.mood.audio.trim()\n            ? scene.mood.audio\n            : fallbackScene.mood.audio,\n        },\n        duration_target_sec: Math.round(clamp(Number(scene?.duration_target_sec ?? fallbackScene.duration_target_sec), 5, 40)),\n      };\n    })\n  : fallbackScenes;\n\nconst totalDurationTargetSec = normalizedScenes.reduce(\n  (sum, scene) => sum + (Number(scene.duration_target_sec) || 0),\n  0,\n);\n\nreturn [{\n  json: {\n    ...item,\n    screenplayStatus: normalizedScenes.length > 0 ? 'ready' : 'partial',\n    screenplayInputVersion: 'v1',\n    screenplay: {\n      scenes: normalizedScenes,\n      total_scenes: normalizedScenes.length,\n      total_duration_target_sec: totalDurationTargetSec,\n    },\n  },\n}];"
      },
      "id": "bee748e7-f6c4-418f-a166-ab43e0996b89",
      "name": "Assemble Screenplay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        2640
      ]
    },
    {
      "parameters": {
        "content": "## Screenplay Writer\nstoryDevelopment를 구체적인 scene list로 확장해 후속 연출/편집 단계가 바로 읽을 수 있는 screenplay를 생성합니다.\n\n범위:\n- hybrid_llm_plus_fallback\n- canonical_output: screenplay",
        "height": 560,
        "width": 980,
        "color": 7
      },
      "id": "f696059f-4c56-49a9-823c-b9f060a9c038",
      "name": "Stage Note - Screenplay Writer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        2500
      ]
    },
    {
      "parameters": {
        "content": "## Input Normalize\n스토리 입력을 정리하고, LLM으로 구조화한 뒤, 후속 단계에서 바로 사용할 수 있는 정규화 JSON으로 조립합니다.\n\n포함 노드:\n- Set Import Test Values\n- Validate Story Input\n- Build Normalize Prompt Payload\n- Input Normalize Chain / Model / Parser\n- Assemble Normalized Input",
        "height": 560,
        "width": 1320,
        "color": 6
      },
      "id": "0373dd58-fd2e-42ec-a337-be9743367840",
      "name": "Stage Note - Input Normalize",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        160
      ]
    },
    {
      "parameters": {
        "content": "## OpenAI Credential Pinning\n고정이 꼭 필요할 때만 아래처럼 추가합니다.\n\n```json\n\"credentials\": {\n  \"openAiApi\": {\n    \"id\": \"YOUR_CREDENTIAL_ID\",\n    \"name\": \"OpenAI account\"\n  }\n}\n```\n\n보통은 비워 두고 import 후 UI에서 연결하는 편이 더 이식성이 좋습니다.",
        "height": 280,
        "width": 520,
        "color": 2
      },
      "id": "c16f146c-a20d-4b80-9b7d-2bef0f4322f9",
      "name": "Config Note - OpenAI Credential",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1840,
        160
      ]
    },
    {
      "parameters": {
        "content": "## Episode Context Analysis\n정규화된 episode 입력을 바탕으로 episode summary, dramatic question, scene function, relationship progression을 구성하고 PoC용 continuity score를 계산합니다.\n\n범위:\n- current_episode_only\n- heuristic_plus_llm",
        "height": 560,
        "width": 980,
        "color": 5
      },
      "id": "9d7b671a-8d69-45b7-b59d-8e75376f2b02",
      "name": "Stage Note - Episode Context",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        760
      ]
    },
    {
      "parameters": {
        "content": "## Context Selection Engine\nEpisode Context 결과와 현재 episode contract를 바탕으로 Story Developer가 바로 사용할 planningContext를 조립합니다.\n\n범위:\n- current_episode_only\n- deterministic_poc",
        "height": 260,
        "width": 560,
        "color": 4
      },
      "id": "86184421-b248-4532-a63c-b63825214968",
      "name": "Stage Note - Context Selection",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        1440
      ]
    },
    {
      "parameters": {
        "content": "## Story Developer\nplanningContext를 바탕으로 density_analysis, creative_strategy, beat_sheet, emotional_arc를 생성합니다.\n\n범위:\n- hybrid_llm_plus_fallback\n- canonical_output: storyDevelopment",
        "height": 560,
        "width": 980,
        "color": 3
      },
      "id": "d1a29c97-285b-4d22-99fa-16fccd741b3d",
      "name": "Stage Note - Story Developer",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        440,
        1820
      ]
    }
  ],
  "connections": {
    "Receive Test Form": {
      "main": [
        [
          {
            "node": "Set Import Test Values",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Import Test Values": {
      "main": [
        [
          {
            "node": "Validate Story Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Story Input": {
      "main": [
        [
          {
            "node": "Build Normalize Prompt Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Normalize Prompt Payload": {
      "main": [
        [
          {
            "node": "Input Normalize Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Normalize Model": {
      "ai_languageModel": [
        [
          {
            "node": "Input Normalize Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Input Normalize Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Input Normalize Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Input Normalize Chain": {
      "main": [
        [
          {
            "node": "Assemble Normalized Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Normalized Input": {
      "main": [
        [
          {
            "node": "Build Episode Context Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Episode Context Payload": {
      "main": [
        [
          {
            "node": "Episode Context Analysis Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Episode Context Model": {
      "ai_languageModel": [
        [
          {
            "node": "Episode Context Analysis Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Episode Context Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Episode Context Analysis Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Episode Context Analysis Chain": {
      "main": [
        [
          {
            "node": "Assemble Episode Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Episode Context": {
      "main": [
        [
          {
            "node": "Context Selection Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Selection Engine": {
      "main": [
        [
          {
            "node": "Build Story Development Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Story Development Payload": {
      "main": [
        [
          {
            "node": "Story Developer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story Developer Model": {
      "ai_languageModel": [
        [
          {
            "node": "Story Developer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Story Developer Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Story Developer Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Story Developer Chain": {
      "main": [
        [
          {
            "node": "Assemble Story Development",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Story Development": {
      "main": [
        [
          {
            "node": "Build Screenplay Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Screenplay Payload": {
      "main": [
        [
          {
            "node": "Screenplay Writer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Screenplay Writer Model": {
      "ai_languageModel": [
        [
          {
            "node": "Screenplay Writer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Screenplay Writer Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Screenplay Writer Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Screenplay Writer Chain": {
      "main": [
        [
          {
            "node": "Assemble Screenplay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {}
}
